.classpath
.project
/.git/
/.settings/
/target/
/.idea/
.buildpath
.project
.settings/
META-INF/
.externalToolBuilders/
.classpath
.prefs
.metadata
.MF
.component
.jsdtscope
.container
.name
.launch
.checkstyle
.externalToolBuilders