<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="/im/imOrderBase/add">在线下单</a>
				</li>
				<li>
					<a href="/im/imOrderBase">订单记录</a>
				</li>
				<li >
					<a href="/im/imAgencyContract">代理合同</a>
				</li>
				<li >
					<a href="/im/imTrackBase">通关跟踪</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">委托方：</label>
								<div class="col-sm-8">
									<input id="ftClientId" name="ftClientId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">订单号：</label>
								<div class="col-sm-8">
									<input id="orderNo" name="orderNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商名称：</label>
								<div class="col-sm-8">
									<input id="supplierName" name="supplierName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商地址：</label>
								<div class="col-sm-8">
									<input id="supplierAddress" name="supplierAddress" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">币别：</label>
								<div class="col-sm-8">
									<input id="currency" name="currency" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">价格条款：</label>
								<div class="col-sm-8">
									<input id="priceTerms" name="priceTerms" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">结汇方式：</label>
								<div class="col-sm-8">
									<input id="settlementWay" name="settlementWay" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">贸易方式：</label>
								<div class="col-sm-8">
									<input id="tradeWay" name="tradeWay" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原产地：</label>
								<div class="col-sm-8">
									<input id="originSourcePlace" name="originSourcePlace" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">起运港：</label>
								<div class="col-sm-8">
									<input id="departurePort" name="departurePort" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">转运港：</label>
								<div class="col-sm-8">
									<input id="transitPort" name="transitPort" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">目的港：</label>
								<div class="col-sm-8">
									<input id="destinationPort" name="destinationPort" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">溢短装%：</label>
								<div class="col-sm-8">
									<input id="moreLess" name="moreLess" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">总数量：</label>
								<div class="col-sm-8">
									<input id="totalQuantity" name="totalQuantity" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">总金额：</label>
								<div class="col-sm-8">
									<input id="totalAmount" name="totalAmount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否货运保险：0-否，1-是：</label>
								<div class="col-sm-8">
									<input id="isCargoInsurance" name="isCargoInsurance" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">保险险别：</label>
								<div class="col-sm-8">
									<input id="insuranceCoverage" name="insuranceCoverage" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">保险比率：</label>
								<div class="col-sm-8">
									<input id="insuranceRate" name="insuranceRate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">投保金额：</label>
								<div class="col-sm-8">
									<input id="insuranceAmount" name="insuranceAmount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核状态：0-未提交，1-待预审，2-待专家预审，3-已撤销，4-已预审：</label>
								<div class="col-sm-8">
									<input id="auditStatus" name="auditStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否已删除：0-否，1-是：</label>
								<div class="col-sm-8">
									<input id="isDeleted" name="isDeleted" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" name="gmtCreate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gmtModified" name="gmtModified" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/im/imOrderBase/add.js">
	</script>
</body>
</html>
