<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">在线下单</a>
				</li>
				<li>
					<a href="/ex/exOrderInfo">订单记录</a>
				</li>
				<li >
					<a href="/ex/exShipOrder">订舱信息</a>
				</li>
				<li >
					<a href="#">收汇登记</a>
				</li>
				<li >
					<a href="/ft/ftExpressBase">快件管理</a>
				</li>
				<li >
					<a href="#">服务合同管理</a>
				</li>
				<li >
					<a href="#">商品信息管理</a>
				</li>
				<li >
					<a href="#">国内客户管理</a>
				</li>
				<li >
					<a href="#">国外客户管理</a>
				</li>
				<li >
					<a href="#">HS编码查询</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="m-t" id="signupForm">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										基本信息
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-6 form-group">
										<label class="col-sm-2 control-label">委托方</label>
										<div class="col-sm-10">
											<input id="ftClientId" name="ftClientId" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">出口发票号</label>
										<div class="col-sm-9">
											<input id="exportInvoiceNo" name="exportInvoiceNo" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">外销合同号</label>
										<div class="col-sm-9">
											<input id="exportContractNo" name="exportContractNo" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">交货日期</label>
										<div class="col-sm-9">
											<input id="deliveryDate" name="deliveryDate" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">联系人</label>
										<div class="col-sm-9">
											<input id="contact_1" name="contact" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">办公室电话</label>
										<div class="col-sm-9">
											<input id="officePhone" name="officePhone" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">手机</label>
										<div class="col-sm-9">
											<input id="phone" name="phone" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-9 form-group">
										<label class="col-sm-1 control-label">收货人</label>
										<div class="col-sm-11">
											<textarea id="consignee" name="consignee" class="form-control" rows="3"></textarea>
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">备注</label>
										<div class="col-sm-9">
											<textarea id="remark" name="remark" class="form-control" rows="3"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										服务信息
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">贸易国别</label>
										<div class="col-sm-9">
											<input id="tradeCountry" name="tradeCountry" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">贸易方式</label>
										<div class="col-sm-9">
											<input id="tradeWay" name="tradeWay" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">结汇方式</label>
										<div class="col-sm-9">
											<input id="settlementWay" name="settlementWay" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">信用证号码</label>
										<div class="col-sm-9">
											<input id="creditNo" name="creditNo" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">价格条款</label>
										<div class="col-sm-9">
											<input id="priceTerms" name="priceTerms" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">币别</label>
										<div class="col-sm-9">
											<input id="currency" name="currency" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">装运期限</label>
										<div class="col-sm-9">
											<input id="shipmentDeadline" name="shipmentDeadline" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">运输方式</label>
										<div class="col-sm-9">
											<input id="transportMode" name="transportMode" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">起运港</label>
										<div class="col-sm-9">
											<input id="departurePort" name="departurePort" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">转运港</label>
										<div class="col-sm-9">
											<input id="transitPort" name="transitPort" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">目的港</label>
										<div class="col-sm-9">
											<input id="destinationPort" name="destinationPort" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">运抵国</label>
										<div class="col-sm-9">
											<input id="destinationCountry" name="destinationCountry" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">境内货源地</label>
										<div class="col-sm-9">
											<input id="territorySourcePlace" name="territorySourcePlace" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">生产厂家</label>
										<div class="col-sm-9">
											<input id="manufactureFactory" name="manufactureFactory" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">联系人</label>
										<div class="col-sm-9">
											<input id="contact_2" name="contact" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-3 form-group">
										<label class="col-sm-3 control-label">联系电话</label>
										<div class="col-sm-9">
											<input id="contactPhone" name="contactPhone" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-12 form-group">
										<label class="checkbox-inline">
											<input id="isSettleExg" name="isSettleExg" type="checkbox" value="1">结汇单证
										</label>
									</div>


											<div class="col-md-12">
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">提单（份）</label>
													<div class="col-sm-6">
														<input id="billLadingNum" name="billLadingNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">发票（份）</label>
													<div class="col-sm-6">
														<input id="invoiceNum" name="invoiceNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">装箱单（份）</label>
													<div class="col-sm-6">
														<input id="packingListNum" name="packingListNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">汇票（份）</label>
													<div class="col-sm-6">
														<input id="draftNum" name="draftNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-3 form-group">
													<label class="col-sm-6 control-label">品质证（份）</label>
													<div class="col-sm-6">
														<input id="qualityCertificateNum" name="qualityCertificateNum" class="form-control" type="text">
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">重量单（份）</label>
													<div class="col-sm-6">
														<input id="weightListNum" name="weightListNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">产地证（份）</label>
													<div class="col-sm-6">
														<input id="certificateOriginNum" name="certificateOriginNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">检疫证（份）</label>
													<div class="col-sm-6">
														<input id="certificateQuarantineNum" name="certificateQuarantineNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-2 form-group">
													<label class="col-sm-6 control-label">保险单（份）</label>
													<div class="col-sm-6">
														<input id="insurancePolicyNum" name="insurancePolicyNum" class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-3 form-group">
													<label class="col-sm-6 control-label">其它</label>
													<div class="col-sm-6">
														<input id="others" name="others" class="form-control" type="text">
													</div>
												</div>
											</div>

									<div class="col-md-4 form-group">
										<label class="radio-inline">
											<input id="appointForwarderType1" name="appointForwarderType" type="radio" value="0" checked> 平台指定货代
										</label>
										<label class="radio-inline">
											<input id="appointForwarderType2" name="appointForwarderType" type="radio" value="1"> 指定货代
										</label>
									</div>
									<div class="col-md-8 form-group">
										<label class="col-sm-2 control-label">指定船公司</label>
										<div class="col-sm-10">
											<input id="specifyShipCompany" name="specifyShipCompany" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-4 form-group">
										<label class="col-sm-3 control-label">货代公司</label>
										<div class="col-sm-9">
											<input id="forwarderCompanyName" name="forwarderCompanyName" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-4 form-group">
										<label class="col-sm-3 control-label">联系人</label>
										<div class="col-sm-9">
											<input id="contact" name="contact" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-4 form-group">
										<label class="col-sm-3 control-label">手机</label>
										<div class="col-sm-9">
											<input id="_1" name="phone" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-4 form-group">
										<label class="col-sm-3 control-label">传真</label>
										<div class="col-sm-9">
											<input id="fax" name="fax" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-8 form-group">
										<label class="col-sm-2 control-label">公司地址</label>
										<div class="col-sm-10">
											<input id="companyAddress" name="companyAddress" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-4 form-group">
										<label class="col-sm-3 control-label">报关行名称</label>
										<div class="col-sm-9">
											<input id="customsBrokerName" name="customsBrokerName" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-8 form-group">
										<label class="col-sm-2 control-label">报关行代码</label>
										<div class="col-sm-10">
											<input id="customsBrokerCode" name="customsBrokerCode" class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-12 form-group">
										<label class="col-sm-1 control-label">进仓通知书文件</label>
										<div class="col-sm-10">
											<input id="entryNoticeFileId" name="entryNoticeFileId" class="form-control" type="text">
										</div>
										<button type="button" class="layui-btn" id="test1">
											<i class="fa fa-cloud"></i>上传文件
										</button>
									</div>
									<div class="col-md-12 form-group">

										<label class="radio-inline">
											<input type="radio" id="encasementType0" name="encasementType" value="0" checked> 拼箱
										</label>
										<label class="radio-inline">
											<input type="radio" id="encasementType1" name="encasementType" value="1"> 整柜
										</label>
										<label class="radio-inline">
											<input type="radio" id="encasementType2" name="encasementType" value="2"> 拼车
										</label>
										<label class="radio-inline">
											<input type="radio" id="encasementType3" name="encasementType" value="3"> 整车
										</label>

									</div>
									<div class="col-md-12 form-group">

										<label class="checkbox-inline">
											<input type="checkbox" id="insuranceFinanceService0" name="insuranceFinanceService" value="00"> 信用保险
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="insuranceFinanceService1" name="insuranceFinanceService" value="01"> 退税融资
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="insuranceFinanceService2" name="insuranceFinanceService" value="02"> LC融资
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="insuranceFinanceService3" name="insuranceFinanceService" value="03"> 其他融资
										</label>
									</div>
								</div>
								<div class="panel-footer" style="text-align: center">
									<button type="submit" class="btn btn-primary">保存</button>
									&nbsp;&nbsp;&nbsp;
									<button type="submit" class="btn btn-success">提交</button>
									&nbsp;&nbsp;&nbsp;
									<button type="submit" class="btn btn-default">取消</button>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										商品信息
										<a class="pull-right" href="#" onclick="commodity()"><i class="fa fa-plus" aria-hidden="true"></i>添加</a>
									</h3>

								</div>
								<div class="panel-body">
									<div>
										<div class="col-md-2 form-group">
											<label class="col-sm-6 control-label">总包装数</label>
											<div class="col-sm-6">
												<input id="pkgs" name="pkgs" class="form-control" type="text" readonly>
											</div>
										</div>
										<div class="col-md-2 form-group">
											<label class="col-sm-6 control-label">总体积（CBM）</label>
											<div class="col-sm-6">
												<input id="totalVolume" name="totalVolume" class="form-control" type="text"readonly>
											</div>
										</div>
										<div class="col-md-2 form-group">
											<label class="col-sm-6 control-label">总毛重（KGS）</label>
											<div class="col-sm-6">
												<input id="totalRoughWeight" name="totalRoughWeight" class="form-control" type="text" readonly>
											</div>
										</div>
										<div class="col-md-2 form-group">
											<label class="col-sm-6 control-label">总净重（KGS）</label>
											<div class="col-sm-6">
												<input id="totalNetWeight" name="totalNetWeight" class="form-control" type="text" readonly>
											</div>
										</div>
										<div class="col-md-2 form-group">
											<label class="col-sm-6 control-label">总金额</label>
											<div class="col-sm-6">
												<input id="totalAmount" name="totalAmount" class="form-control" type="text" readonly>
											</div>
										</div>
										<div class="col-md-2 form-group">
											<label class="col-sm-6 control-label">换汇成本</label>
											<div class="col-sm-6">
												<input id="foreignExgCost" name="foreignExgCost" class="form-control" type="text" readonly>
											</div>
										</div>
									</div>
									<table id="exampleTable" data-mobile-responsive="true"/></table>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自ftcsp的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = 'hidden';
			var s_remove_h = 'hidden';
			var s_resetPwd_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="ex:exOrderHeader:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div shiro:hasPermission="ex:exOrderHeader:remove">
		<script type="text/javascript">
			var s_remove_h = '';
		</script>
	</div>
	<div shiro:hasPermission="ex:exOrderHeader:resetPwd">
		<script type="text/javascript">
			var s_resetPwd_h = '';
		</script>
	</div>

	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ex/exOrderInfo/add.js"></script>

</body>
</html>
