<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="ex_order_base_id" name="ex_order_base_id" th:value="${orderBase.ex_order_base_id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">出口订单头主键：</label>
								<div class="col-sm-8">
									<input id="exOrderHeaderId" name="exOrderHeaderId" th:value="${orderBase.exOrderHeaderId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">贸易国别：</label>
								<div class="col-sm-8">
									<input id="tradeCountry" name="tradeCountry" th:value="${orderBase.tradeCountry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">贸易方式：</label>
								<div class="col-sm-8">
									<input id="tradeWay" name="tradeWay" th:value="${orderBase.tradeWay}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">价格条款：</label>
								<div class="col-sm-8">
									<input id="priceTerms" name="priceTerms" th:value="${orderBase.priceTerms}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">运费：</label>
								<div class="col-sm-8">
									<input id="freight" name="freight" th:value="${orderBase.freight}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">运抵国：</label>
								<div class="col-sm-8">
									<input id="destinationCountry" name="destinationCountry" th:value="${orderBase.destinationCountry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">币别：</label>
								<div class="col-sm-8">
									<input id="currency" name="currency" th:value="${orderBase.currency}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">装运期限：</label>
								<div class="col-sm-8">
									<input id="shipmentDeadline" name="shipmentDeadline" th:value="${orderBase.shipmentDeadline}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">运输方式：</label>
								<div class="col-sm-8">
									<input id="transportMode" name="transportMode" th:value="${orderBase.transportMode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">起运港：</label>
								<div class="col-sm-8">
									<input id="departurePort" name="departurePort" th:value="${orderBase.departurePort}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">转运港：</label>
								<div class="col-sm-8">
									<input id="transitPort" name="transitPort" th:value="${orderBase.transitPort}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">目的港：</label>
								<div class="col-sm-8">
									<input id="destinationPort" name="destinationPort" th:value="${orderBase.destinationPort}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">境内货源地：</label>
								<div class="col-sm-8">
									<input id="territorySourcePlace" name="territorySourcePlace" th:value="${orderBase.territorySourcePlace}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">生产厂家：</label>
								<div class="col-sm-8">
									<input id="manufactureFactory" name="manufactureFactory" th:value="${orderBase.manufactureFactory}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">联系人：</label>
								<div class="col-sm-8">
									<input id="contact" name="contact" th:value="${orderBase.contact}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="contactPhone" name="contactPhone" th:value="${orderBase.contactPhone}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">结汇方式：</label>
								<div class="col-sm-8">
									<input id="settlementWay" name="settlementWay" th:value="${orderBase.settlementWay}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">信用证号码：</label>
								<div class="col-sm-8">
									<input id="creditNo" name="creditNo" th:value="${orderBase.creditNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否有结汇单证：0-否，1-是：</label>
								<div class="col-sm-8">
									<input id="isSettleExg" name="isSettleExg" th:value="${orderBase.isSettleExg}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">提单：</label>
								<div class="col-sm-8">
									<input id="billLadingNum" name="billLadingNum" th:value="${orderBase.billLadingNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票：</label>
								<div class="col-sm-8">
									<input id="invoiceNum" name="invoiceNum" th:value="${orderBase.invoiceNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">装箱单：</label>
								<div class="col-sm-8">
									<input id="packingListNum" name="packingListNum" th:value="${orderBase.packingListNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">汇票：</label>
								<div class="col-sm-8">
									<input id="draftNum" name="draftNum" th:value="${orderBase.draftNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">品质证：</label>
								<div class="col-sm-8">
									<input id="qualityCertificateNum" name="qualityCertificateNum" th:value="${orderBase.qualityCertificateNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">重量单：</label>
								<div class="col-sm-8">
									<input id="weightListNum" name="weightListNum" th:value="${orderBase.weightListNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">产地证：</label>
								<div class="col-sm-8">
									<input id="certificateOriginNum" name="certificateOriginNum" th:value="${orderBase.certificateOriginNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检疫证：</label>
								<div class="col-sm-8">
									<input id="certificateQuarantineNum" name="certificateQuarantineNum" th:value="${orderBase.certificateQuarantineNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">保险单：</label>
								<div class="col-sm-8">
									<input id="insurancePolicyNum" name="insurancePolicyNum" th:value="${orderBase.insurancePolicyNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">其它：</label>
								<div class="col-sm-8">
									<input id="others" name="others" th:value="${orderBase.others}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" name="gmtCreate" th:value="${orderBase.gmtCreate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gmtModified" name="gmtModified" th:value="${orderBase.gmtModified}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ex/orderBase/edit.js">
	</script>
</body>
</html>
