<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.doc.dao.ExCreditDao">

	<select id="get" resultType="com.cloudht.doc.domain.ExCreditDO">
		select `ex_credit_id`,`credit_no`,`advising_bank`,`notice_date`,`currency`,`credit_amount`,`opener`,`issue_date`,`issue_country`,`ft_client_id`,`ship_date`,`expiration_date`,`is_transfer`,`is_acceptance`,`vouching_date`,`commodity_name`,`others`,`gmt_create`,`gmt_modified` from ex_credit where ex_credit_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.doc.domain.ExCreditDO">
		select `ex_credit_id`,`credit_no`,`advising_bank`,`notice_date`,`currency`,`credit_amount`,`opener`,`issue_date`,`issue_country`,`ft_client_id`,`ship_date`,`expiration_date`,`is_transfer`,`is_acceptance`,`vouching_date`,`commodity_name`,`others`,`gmt_create`,`gmt_modified` from ex_credit
        <where>  
		  		  <if test="exCreditId != null and exCreditId != ''"> and ex_credit_id = #{exCreditId} </if>
		  		  <if test="creditNo != null and creditNo != ''"> and credit_no = #{creditNo} </if>
		  		  <if test="advisingBank != null and advisingBank != ''"> and advising_bank = #{advisingBank} </if>
		  		  <if test="noticeDate != null and noticeDate != ''"> and notice_date = #{noticeDate} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="creditAmount != null and creditAmount != ''"> and credit_amount = #{creditAmount} </if>
		  		  <if test="opener != null and opener != ''"> and opener = #{opener} </if>
		  		  <if test="issueDate != null and issueDate != ''"> and issue_date = #{issueDate} </if>
		  		  <if test="issueCountry != null and issueCountry != ''"> and issue_country = #{issueCountry} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="shipDate != null and shipDate != ''"> and ship_date = #{shipDate} </if>
		  		  <if test="expirationDate != null and expirationDate != ''"> and expiration_date = #{expirationDate} </if>
		  		  <if test="isTransfer != null and isTransfer != ''"> and is_transfer = #{isTransfer} </if>
		  		  <if test="isAcceptance != null and isAcceptance != ''"> and is_acceptance = #{isAcceptance} </if>
		  		  <if test="vouchingDate != null and vouchingDate != ''"> and vouching_date = #{vouchingDate} </if>
		  		  <if test="commodityName != null and commodityName != ''"> and commodity_name = #{commodityName} </if>
		  		  <if test="others != null and others != ''"> and others = #{others} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_credit_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_credit
		 <where>  
		  		  <if test="exCreditId != null and exCreditId != ''"> and ex_credit_id = #{exCreditId} </if>
		  		  <if test="creditNo != null and creditNo != ''"> and credit_no = #{creditNo} </if>
		  		  <if test="advisingBank != null and advisingBank != ''"> and advising_bank = #{advisingBank} </if>
		  		  <if test="noticeDate != null and noticeDate != ''"> and notice_date = #{noticeDate} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="creditAmount != null and creditAmount != ''"> and credit_amount = #{creditAmount} </if>
		  		  <if test="opener != null and opener != ''"> and opener = #{opener} </if>
		  		  <if test="issueDate != null and issueDate != ''"> and issue_date = #{issueDate} </if>
		  		  <if test="issueCountry != null and issueCountry != ''"> and issue_country = #{issueCountry} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="shipDate != null and shipDate != ''"> and ship_date = #{shipDate} </if>
		  		  <if test="expirationDate != null and expirationDate != ''"> and expiration_date = #{expirationDate} </if>
		  		  <if test="isTransfer != null and isTransfer != ''"> and is_transfer = #{isTransfer} </if>
		  		  <if test="isAcceptance != null and isAcceptance != ''"> and is_acceptance = #{isAcceptance} </if>
		  		  <if test="vouchingDate != null and vouchingDate != ''"> and vouching_date = #{vouchingDate} </if>
		  		  <if test="commodityName != null and commodityName != ''"> and commodity_name = #{commodityName} </if>
		  		  <if test="others != null and others != ''"> and others = #{others} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.doc.domain.ExCreditDO" useGeneratedKeys="true" keyProperty="exCreditId">
		insert into ex_credit
		(
			`credit_no`, 
			`advising_bank`, 
			`notice_date`, 
			`currency`, 
			`credit_amount`, 
			`opener`, 
			`issue_date`, 
			`issue_country`, 
			`ft_client_id`, 
			`ship_date`, 
			`expiration_date`, 
			`is_transfer`, 
			`is_acceptance`, 
			`vouching_date`, 
			`commodity_name`, 
			`others`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{creditNo}, 
			#{advisingBank}, 
			#{noticeDate}, 
			#{currency}, 
			#{creditAmount}, 
			#{opener}, 
			#{issueDate}, 
			#{issueCountry}, 
			#{ftClientId}, 
			#{shipDate}, 
			#{expirationDate}, 
			#{isTransfer}, 
			#{isAcceptance}, 
			#{vouchingDate}, 
			#{commodityName}, 
			#{others}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.doc.domain.ExCreditDO">
		update ex_credit 
		<set>
			<if test="creditNo != null">`credit_no` = #{creditNo}, </if>
			<if test="advisingBank != null">`advising_bank` = #{advisingBank}, </if>
			<if test="noticeDate != null">`notice_date` = #{noticeDate}, </if>
			<if test="currency != null">`currency` = #{currency}, </if>
			<if test="creditAmount != null">`credit_amount` = #{creditAmount}, </if>
			<if test="opener != null">`opener` = #{opener}, </if>
			<if test="issueDate != null">`issue_date` = #{issueDate}, </if>
			<if test="issueCountry != null">`issue_country` = #{issueCountry}, </if>
			<if test="ftClientId != null">`ft_client_id` = #{ftClientId}, </if>
			<if test="shipDate != null">`ship_date` = #{shipDate}, </if>
			<if test="expirationDate != null">`expiration_date` = #{expirationDate}, </if>
			<if test="isTransfer != null">`is_transfer` = #{isTransfer}, </if>
			<if test="isAcceptance != null">`is_acceptance` = #{isAcceptance}, </if>
			<if test="vouchingDate != null">`vouching_date` = #{vouchingDate}, </if>
			<if test="commodityName != null">`commodity_name` = #{commodityName}, </if>
			<if test="others != null">`others` = #{others}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_credit_id = #{exCreditId}
	</update>
	
	<delete id="remove">
		delete from ex_credit where ex_credit_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_credit where ex_credit_id in 
		<foreach item="exCreditId" collection="array" open="(" separator="," close=")">
			#{exCreditId}
		</foreach>
	</delete>

</mapper>