<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.doc.dao.ExFeeRegistrationDao">

	<select id="get" resultType="com.cloudht.doc.domain.ExFeeRegistrationDO">
		select `ex_fee_registration_id`,`invoice_no`,`ft_client_id`,`cost_type`,`currency`,`amount`,`exchange_rate`,`local_currency`,`registration_date`,`registrant`,`gmt_create`,`gmt_modified` from ex_fee_registration where ex_fee_registration_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.doc.domain.ExFeeRegistrationDO">
		select `ex_fee_registration_id`,`invoice_no`,`ft_client_id`,`cost_type`,`currency`,`amount`,`exchange_rate`,`local_currency`,`registration_date`,`registrant`,`gmt_create`,`gmt_modified` from ex_fee_registration
        <where>  
		  		  <if test="exFeeRegistrationId != null and exFeeRegistrationId != ''"> and ex_fee_registration_id = #{exFeeRegistrationId} </if>
		  		  <if test="invoiceNo != null and invoiceNo != ''"> and invoice_no = #{invoiceNo} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="costType != null and costType != ''"> and cost_type = #{costType} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="exchangeRate != null and exchangeRate != ''"> and exchange_rate = #{exchangeRate} </if>
		  		  <if test="localCurrency != null and localCurrency != ''"> and local_currency = #{localCurrency} </if>
		  		  <if test="registrationDate != null and registrationDate != ''"> and registration_date = #{registrationDate} </if>
		  		  <if test="registrant != null and registrant != ''"> and registrant = #{registrant} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_fee_registration_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_fee_registration
		 <where>  
		  		  <if test="exFeeRegistrationId != null and exFeeRegistrationId != ''"> and ex_fee_registration_id = #{exFeeRegistrationId} </if>
		  		  <if test="invoiceNo != null and invoiceNo != ''"> and invoice_no = #{invoiceNo} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="costType != null and costType != ''"> and cost_type = #{costType} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="exchangeRate != null and exchangeRate != ''"> and exchange_rate = #{exchangeRate} </if>
		  		  <if test="localCurrency != null and localCurrency != ''"> and local_currency = #{localCurrency} </if>
		  		  <if test="registrationDate != null and registrationDate != ''"> and registration_date = #{registrationDate} </if>
		  		  <if test="registrant != null and registrant != ''"> and registrant = #{registrant} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.doc.domain.ExFeeRegistrationDO" useGeneratedKeys="true" keyProperty="exFeeRegistrationId">
		insert into ex_fee_registration
		(
			`invoice_no`, 
			`ft_client_id`, 
			`cost_type`, 
			`currency`, 
			`amount`, 
			`exchange_rate`, 
			`local_currency`, 
			`registration_date`, 
			`registrant`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{invoiceNo}, 
			#{ftClientId}, 
			#{costType}, 
			#{currency}, 
			#{amount}, 
			#{exchangeRate}, 
			#{localCurrency}, 
			#{registrationDate}, 
			#{registrant}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.doc.domain.ExFeeRegistrationDO">
		update ex_fee_registration 
		<set>
			<if test="invoiceNo != null">`invoice_no` = #{invoiceNo}, </if>
			<if test="ftClientId != null">`ft_client_id` = #{ftClientId}, </if>
			<if test="costType != null">`cost_type` = #{costType}, </if>
			<if test="currency != null">`currency` = #{currency}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="exchangeRate != null">`exchange_rate` = #{exchangeRate}, </if>
			<if test="localCurrency != null">`local_currency` = #{localCurrency}, </if>
			<if test="registrationDate != null">`registration_date` = #{registrationDate}, </if>
			<if test="registrant != null">`registrant` = #{registrant}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_fee_registration_id = #{exFeeRegistrationId}
	</update>
	
	<delete id="remove">
		delete from ex_fee_registration where ex_fee_registration_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_fee_registration where ex_fee_registration_id in 
		<foreach item="exFeeRegistrationId" collection="array" open="(" separator="," close=")">
			#{exFeeRegistrationId}
		</foreach>
	</delete>

</mapper>