<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.doc.dao.ExNegotiationBaseDao">

	<select id="get" resultType="com.cloudht.doc.domain.ExNegotiationBaseDO">
		select `ex_negotiation_base_id`,`invoice_no`,`credit_letter`,`foreign_order_no`,`our_order_no`,`export_merchant`,`customer_company_name`,`ship_date`,`transport_mode`,`origin_country`,`transport_pay_terms`,`departure_port`,`destination_port`,`currency`,`negotiation_status`,`negotiation_date`,`gmt_create`,`gmt_modified` from ex_negotiation_base where ex_negotiation_base_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.doc.domain.ExNegotiationBaseDO">
		select `ex_negotiation_base_id`,`invoice_no`,`credit_letter`,`foreign_order_no`,`our_order_no`,`export_merchant`,`customer_company_name`,`ship_date`,`transport_mode`,`origin_country`,`transport_pay_terms`,`departure_port`,`destination_port`,`currency`,`negotiation_status`,`negotiation_date`,`gmt_create`,`gmt_modified` from ex_negotiation_base
        <where>  
		  		  <if test="exNegotiationBaseId != null and exNegotiationBaseId != ''"> and ex_negotiation_base_id = #{exNegotiationBaseId} </if>
		  		  <if test="invoiceNo != null and invoiceNo != ''"> and invoice_no = #{invoiceNo} </if>
		  		  <if test="creditLetter != null and creditLetter != ''"> and credit_letter = #{creditLetter} </if>
		  		  <if test="foreignOrderNo != null and foreignOrderNo != ''"> and foreign_order_no = #{foreignOrderNo} </if>
		  		  <if test="ourOrderNo != null and ourOrderNo != ''"> and our_order_no = #{ourOrderNo} </if>
		  		  <if test="exportMerchant != null and exportMerchant != ''"> and export_merchant = #{exportMerchant} </if>
		  		  <if test="customerCompanyName != null and customerCompanyName != ''"> and customer_company_name = #{customerCompanyName} </if>
		  		  <if test="shipDate != null and shipDate != ''"> and ship_date = #{shipDate} </if>
		  		  <if test="transportMode != null and transportMode != ''"> and transport_mode = #{transportMode} </if>
		  		  <if test="originCountry != null and originCountry != ''"> and origin_country = #{originCountry} </if>
		  		  <if test="transportPayTerms != null and transportPayTerms != ''"> and transport_pay_terms = #{transportPayTerms} </if>
		  		  <if test="departurePort != null and departurePort != ''"> and departure_port = #{departurePort} </if>
		  		  <if test="destinationPort != null and destinationPort != ''"> and destination_port = #{destinationPort} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="negotiationStatus != null and negotiationStatus != ''"> and negotiation_status = #{negotiationStatus} </if>
		  		  <if test="negotiationDate != null and negotiationDate != ''"> and negotiation_date = #{negotiationDate} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_negotiation_base_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_negotiation_base
		 <where>  
		  		  <if test="exNegotiationBaseId != null and exNegotiationBaseId != ''"> and ex_negotiation_base_id = #{exNegotiationBaseId} </if>
		  		  <if test="invoiceNo != null and invoiceNo != ''"> and invoice_no = #{invoiceNo} </if>
		  		  <if test="creditLetter != null and creditLetter != ''"> and credit_letter = #{creditLetter} </if>
		  		  <if test="foreignOrderNo != null and foreignOrderNo != ''"> and foreign_order_no = #{foreignOrderNo} </if>
		  		  <if test="ourOrderNo != null and ourOrderNo != ''"> and our_order_no = #{ourOrderNo} </if>
		  		  <if test="exportMerchant != null and exportMerchant != ''"> and export_merchant = #{exportMerchant} </if>
		  		  <if test="customerCompanyName != null and customerCompanyName != ''"> and customer_company_name = #{customerCompanyName} </if>
		  		  <if test="shipDate != null and shipDate != ''"> and ship_date = #{shipDate} </if>
		  		  <if test="transportMode != null and transportMode != ''"> and transport_mode = #{transportMode} </if>
		  		  <if test="originCountry != null and originCountry != ''"> and origin_country = #{originCountry} </if>
		  		  <if test="transportPayTerms != null and transportPayTerms != ''"> and transport_pay_terms = #{transportPayTerms} </if>
		  		  <if test="departurePort != null and departurePort != ''"> and departure_port = #{departurePort} </if>
		  		  <if test="destinationPort != null and destinationPort != ''"> and destination_port = #{destinationPort} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="negotiationStatus != null and negotiationStatus != ''"> and negotiation_status = #{negotiationStatus} </if>
		  		  <if test="negotiationDate != null and negotiationDate != ''"> and negotiation_date = #{negotiationDate} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.doc.domain.ExNegotiationBaseDO" useGeneratedKeys="true" keyProperty="exNegotiationBaseId">
		insert into ex_negotiation_base
		(
			`invoice_no`, 
			`credit_letter`, 
			`foreign_order_no`, 
			`our_order_no`, 
			`export_merchant`, 
			`customer_company_name`, 
			`ship_date`, 
			`transport_mode`, 
			`origin_country`, 
			`transport_pay_terms`, 
			`departure_port`, 
			`destination_port`, 
			`currency`, 
			`negotiation_status`, 
			`negotiation_date`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{invoiceNo}, 
			#{creditLetter}, 
			#{foreignOrderNo}, 
			#{ourOrderNo}, 
			#{exportMerchant}, 
			#{customerCompanyName}, 
			#{shipDate}, 
			#{transportMode}, 
			#{originCountry}, 
			#{transportPayTerms}, 
			#{departurePort}, 
			#{destinationPort}, 
			#{currency}, 
			#{negotiationStatus}, 
			#{negotiationDate}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.doc.domain.ExNegotiationBaseDO">
		update ex_negotiation_base 
		<set>
			<if test="invoiceNo != null">`invoice_no` = #{invoiceNo}, </if>
			<if test="creditLetter != null">`credit_letter` = #{creditLetter}, </if>
			<if test="foreignOrderNo != null">`foreign_order_no` = #{foreignOrderNo}, </if>
			<if test="ourOrderNo != null">`our_order_no` = #{ourOrderNo}, </if>
			<if test="exportMerchant != null">`export_merchant` = #{exportMerchant}, </if>
			<if test="customerCompanyName != null">`customer_company_name` = #{customerCompanyName}, </if>
			<if test="shipDate != null">`ship_date` = #{shipDate}, </if>
			<if test="transportMode != null">`transport_mode` = #{transportMode}, </if>
			<if test="originCountry != null">`origin_country` = #{originCountry}, </if>
			<if test="transportPayTerms != null">`transport_pay_terms` = #{transportPayTerms}, </if>
			<if test="departurePort != null">`departure_port` = #{departurePort}, </if>
			<if test="destinationPort != null">`destination_port` = #{destinationPort}, </if>
			<if test="currency != null">`currency` = #{currency}, </if>
			<if test="negotiationStatus != null">`negotiation_status` = #{negotiationStatus}, </if>
			<if test="negotiationDate != null">`negotiation_date` = #{negotiationDate}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_negotiation_base_id = #{exNegotiationBaseId}
	</update>
	
	<delete id="remove">
		delete from ex_negotiation_base where ex_negotiation_base_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_negotiation_base where ex_negotiation_base_id in 
		<foreach item="exNegotiationBaseId" collection="array" open="(" separator="," close=")">
			#{exNegotiationBaseId}
		</foreach>
	</delete>

</mapper>