<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.doc.dao.ExOrderLinkDao">

	<select id="get" resultType="com.cloudht.doc.domain.ExOrderLinkDO">
		select `ex_order_link_id`,`order_no`,`link_name`,`link_status`,`finish_date`,`remark`,`gmt_create`,`gmt_modified` from ex_order_link where ex_order_link_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.doc.domain.ExOrderLinkDO">
		select `ex_order_link_id`,`order_no`,`link_name`,`link_status`,`finish_date`,`remark`,`gmt_create`,`gmt_modified` from ex_order_link
        <where>  
		  		  <if test="exOrderLinkId != null and exOrderLinkId != ''"> and ex_order_link_id = #{exOrderLinkId} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="linkName != null and linkName != ''"> and link_name = #{linkName} </if>
		  		  <if test="linkStatus != null and linkStatus != ''"> and link_status = #{linkStatus} </if>
		  		  <if test="finishDate != null and finishDate != ''"> and finish_date = #{finishDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_order_link_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_order_link
		 <where>  
		  		  <if test="exOrderLinkId != null and exOrderLinkId != ''"> and ex_order_link_id = #{exOrderLinkId} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="linkName != null and linkName != ''"> and link_name = #{linkName} </if>
		  		  <if test="linkStatus != null and linkStatus != ''"> and link_status = #{linkStatus} </if>
		  		  <if test="finishDate != null and finishDate != ''"> and finish_date = #{finishDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.doc.domain.ExOrderLinkDO" useGeneratedKeys="true" keyProperty="exOrderLinkId">
		insert into ex_order_link
		(
			`order_no`, 
			`link_name`, 
			`link_status`, 
			`finish_date`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{orderNo}, 
			#{linkName}, 
			#{linkStatus}, 
			#{finishDate}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.doc.domain.ExOrderLinkDO">
		update ex_order_link 
		<set>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="linkName != null">`link_name` = #{linkName}, </if>
			<if test="linkStatus != null">`link_status` = #{linkStatus}, </if>
			<if test="finishDate != null">`finish_date` = #{finishDate}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_order_link_id = #{exOrderLinkId}
	</update>
	
	<delete id="remove">
		delete from ex_order_link where ex_order_link_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_order_link where ex_order_link_id in 
		<foreach item="exOrderLinkId" collection="array" open="(" separator="," close=")">
			#{exOrderLinkId}
		</foreach>
	</delete>

</mapper>