<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.doc.dao.ExOrderOperationDao">

	<select id="get" resultType="com.cloudht.doc.domain.ExOrderOperationDO">
		select `ex_order_operation_id`,`ex_order_header_id`,`operator_id`,`operator_name`,`is_ship_order`,`is_customs_inspection`,`is_customs_declaration`,`is_origin_certificate`,`is_negotiation`,`is_collection`,`is_order_link`,`gmt_create`,`gmt_modified` from ex_order_operation where ex_order_operation_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.doc.domain.ExOrderOperationDO">
		select `ex_order_operation_id`,`ex_order_header_id`,`operator_id`,`operator_name`,`is_ship_order`,`is_customs_inspection`,`is_customs_declaration`,`is_origin_certificate`,`is_negotiation`,`is_collection`,`is_order_link`,`gmt_create`,`gmt_modified` from ex_order_operation
        <where>  
		  		  <if test="exOrderOperationId != null and exOrderOperationId != ''"> and ex_order_operation_id = #{exOrderOperationId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="operatorId != null and operatorId != ''"> and operator_id = #{operatorId} </if>
		  		  <if test="operatorName != null and operatorName != ''"> and operator_name = #{operatorName} </if>
		  		  <if test="isShipOrder != null and isShipOrder != ''"> and is_ship_order = #{isShipOrder} </if>
		  		  <if test="isCustomsInspection != null and isCustomsInspection != ''"> and is_customs_inspection = #{isCustomsInspection} </if>
		  		  <if test="isCustomsDeclaration != null and isCustomsDeclaration != ''"> and is_customs_declaration = #{isCustomsDeclaration} </if>
		  		  <if test="isOriginCertificate != null and isOriginCertificate != ''"> and is_origin_certificate = #{isOriginCertificate} </if>
		  		  <if test="isNegotiation != null and isNegotiation != ''"> and is_negotiation = #{isNegotiation} </if>
		  		  <if test="isCollection != null and isCollection != ''"> and is_collection = #{isCollection} </if>
		  		  <if test="isOrderLink != null and isOrderLink != ''"> and is_order_link = #{isOrderLink} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_order_operation_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_order_operation
		 <where>  
		  		  <if test="exOrderOperationId != null and exOrderOperationId != ''"> and ex_order_operation_id = #{exOrderOperationId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="operatorId != null and operatorId != ''"> and operator_id = #{operatorId} </if>
		  		  <if test="operatorName != null and operatorName != ''"> and operator_name = #{operatorName} </if>
		  		  <if test="isShipOrder != null and isShipOrder != ''"> and is_ship_order = #{isShipOrder} </if>
		  		  <if test="isCustomsInspection != null and isCustomsInspection != ''"> and is_customs_inspection = #{isCustomsInspection} </if>
		  		  <if test="isCustomsDeclaration != null and isCustomsDeclaration != ''"> and is_customs_declaration = #{isCustomsDeclaration} </if>
		  		  <if test="isOriginCertificate != null and isOriginCertificate != ''"> and is_origin_certificate = #{isOriginCertificate} </if>
		  		  <if test="isNegotiation != null and isNegotiation != ''"> and is_negotiation = #{isNegotiation} </if>
		  		  <if test="isCollection != null and isCollection != ''"> and is_collection = #{isCollection} </if>
		  		  <if test="isOrderLink != null and isOrderLink != ''"> and is_order_link = #{isOrderLink} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.doc.domain.ExOrderOperationDO" useGeneratedKeys="true" keyProperty="exOrderOperationId">
		insert into ex_order_operation
		(
			`ex_order_header_id`, 
			`operator_id`, 
			`operator_name`, 
			`is_ship_order`, 
			`is_customs_inspection`, 
			`is_customs_declaration`, 
			`is_origin_certificate`, 
			`is_negotiation`, 
			`is_collection`, 
			`is_order_link`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{exOrderHeaderId}, 
			#{operatorId}, 
			#{operatorName}, 
			#{isShipOrder}, 
			#{isCustomsInspection}, 
			#{isCustomsDeclaration}, 
			#{isOriginCertificate}, 
			#{isNegotiation}, 
			#{isCollection}, 
			#{isOrderLink}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.doc.domain.ExOrderOperationDO">
		update ex_order_operation 
		<set>
			<if test="exOrderHeaderId != null">`ex_order_header_id` = #{exOrderHeaderId}, </if>
			<if test="operatorId != null">`operator_id` = #{operatorId}, </if>
			<if test="operatorName != null">`operator_name` = #{operatorName}, </if>
			<if test="isShipOrder != null">`is_ship_order` = #{isShipOrder}, </if>
			<if test="isCustomsInspection != null">`is_customs_inspection` = #{isCustomsInspection}, </if>
			<if test="isCustomsDeclaration != null">`is_customs_declaration` = #{isCustomsDeclaration}, </if>
			<if test="isOriginCertificate != null">`is_origin_certificate` = #{isOriginCertificate}, </if>
			<if test="isNegotiation != null">`is_negotiation` = #{isNegotiation}, </if>
			<if test="isCollection != null">`is_collection` = #{isCollection}, </if>
			<if test="isOrderLink != null">`is_order_link` = #{isOrderLink}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_order_operation_id = #{exOrderOperationId}
	</update>
	
	<delete id="remove">
		delete from ex_order_operation where ex_order_operation_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_order_operation where ex_order_operation_id in 
		<foreach item="exOrderOperationId" collection="array" open="(" separator="," close=")">
			#{exOrderOperationId}
		</foreach>
	</delete>

</mapper>