<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.doc.dao.ExShipOrderCommodityDao">

	<select id="get" resultType="com.cloudht.doc.domain.ExShipOrderCommodityDO">
		select `ex_ship_order_commodity_id`,`ex_ship_order_id`,`ship_mark_info`,`chinese_name`,`english_name`,`pkgs`,`pkgs_unit`,`total_quantity`,`total_quantity_unit`,`pack_size_length`,`pack_size_width`,`pack_size_height`,`total_volume`,`unit_rough_weight`,`total_rough_weight`,`unit_net_weight`,`total_net_weight`,`gmt_create`,`gmt_modified` from ex_ship_order_commodity where ex_ship_order_commodity_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.doc.domain.ExShipOrderCommodityDO">
		select `ex_ship_order_commodity_id`,`ex_ship_order_id`,`ship_mark_info`,`chinese_name`,`english_name`,`pkgs`,`pkgs_unit`,`total_quantity`,`total_quantity_unit`,`pack_size_length`,`pack_size_width`,`pack_size_height`,`total_volume`,`unit_rough_weight`,`total_rough_weight`,`unit_net_weight`,`total_net_weight`,`gmt_create`,`gmt_modified` from ex_ship_order_commodity
        <where>  
		  		  <if test="exShipOrderCommodityId != null and exShipOrderCommodityId != ''"> and ex_ship_order_commodity_id = #{exShipOrderCommodityId} </if>
		  		  <if test="exShipOrderId != null and exShipOrderId != ''"> and ex_ship_order_id = #{exShipOrderId} </if>
		  		  <if test="shipMarkInfo != null and shipMarkInfo != ''"> and ship_mark_info = #{shipMarkInfo} </if>
		  		  <if test="chineseName != null and chineseName != ''"> and chinese_name = #{chineseName} </if>
		  		  <if test="englishName != null and englishName != ''"> and english_name = #{englishName} </if>
		  		  <if test="pkgs != null and pkgs != ''"> and pkgs = #{pkgs} </if>
		  		  <if test="pkgsUnit != null and pkgsUnit != ''"> and pkgs_unit = #{pkgsUnit} </if>
		  		  <if test="totalQuantity != null and totalQuantity != ''"> and total_quantity = #{totalQuantity} </if>
		  		  <if test="totalQuantityUnit != null and totalQuantityUnit != ''"> and total_quantity_unit = #{totalQuantityUnit} </if>
		  		  <if test="packSizeLength != null and packSizeLength != ''"> and pack_size_length = #{packSizeLength} </if>
		  		  <if test="packSizeWidth != null and packSizeWidth != ''"> and pack_size_width = #{packSizeWidth} </if>
		  		  <if test="packSizeHeight != null and packSizeHeight != ''"> and pack_size_height = #{packSizeHeight} </if>
		  		  <if test="totalVolume != null and totalVolume != ''"> and total_volume = #{totalVolume} </if>
		  		  <if test="unitRoughWeight != null and unitRoughWeight != ''"> and unit_rough_weight = #{unitRoughWeight} </if>
		  		  <if test="totalRoughWeight != null and totalRoughWeight != ''"> and total_rough_weight = #{totalRoughWeight} </if>
		  		  <if test="unitNetWeight != null and unitNetWeight != ''"> and unit_net_weight = #{unitNetWeight} </if>
		  		  <if test="totalNetWeight != null and totalNetWeight != ''"> and total_net_weight = #{totalNetWeight} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_ship_order_commodity_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_ship_order_commodity
		 <where>  
		  		  <if test="exShipOrderCommodityId != null and exShipOrderCommodityId != ''"> and ex_ship_order_commodity_id = #{exShipOrderCommodityId} </if>
		  		  <if test="exShipOrderId != null and exShipOrderId != ''"> and ex_ship_order_id = #{exShipOrderId} </if>
		  		  <if test="shipMarkInfo != null and shipMarkInfo != ''"> and ship_mark_info = #{shipMarkInfo} </if>
		  		  <if test="chineseName != null and chineseName != ''"> and chinese_name = #{chineseName} </if>
		  		  <if test="englishName != null and englishName != ''"> and english_name = #{englishName} </if>
		  		  <if test="pkgs != null and pkgs != ''"> and pkgs = #{pkgs} </if>
		  		  <if test="pkgsUnit != null and pkgsUnit != ''"> and pkgs_unit = #{pkgsUnit} </if>
		  		  <if test="totalQuantity != null and totalQuantity != ''"> and total_quantity = #{totalQuantity} </if>
		  		  <if test="totalQuantityUnit != null and totalQuantityUnit != ''"> and total_quantity_unit = #{totalQuantityUnit} </if>
		  		  <if test="packSizeLength != null and packSizeLength != ''"> and pack_size_length = #{packSizeLength} </if>
		  		  <if test="packSizeWidth != null and packSizeWidth != ''"> and pack_size_width = #{packSizeWidth} </if>
		  		  <if test="packSizeHeight != null and packSizeHeight != ''"> and pack_size_height = #{packSizeHeight} </if>
		  		  <if test="totalVolume != null and totalVolume != ''"> and total_volume = #{totalVolume} </if>
		  		  <if test="unitRoughWeight != null and unitRoughWeight != ''"> and unit_rough_weight = #{unitRoughWeight} </if>
		  		  <if test="totalRoughWeight != null and totalRoughWeight != ''"> and total_rough_weight = #{totalRoughWeight} </if>
		  		  <if test="unitNetWeight != null and unitNetWeight != ''"> and unit_net_weight = #{unitNetWeight} </if>
		  		  <if test="totalNetWeight != null and totalNetWeight != ''"> and total_net_weight = #{totalNetWeight} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.doc.domain.ExShipOrderCommodityDO" useGeneratedKeys="true" keyProperty="exShipOrderCommodityId">
		insert into ex_ship_order_commodity
		(
			`ex_ship_order_id`, 
			`ship_mark_info`, 
			`chinese_name`, 
			`english_name`, 
			`pkgs`, 
			`pkgs_unit`, 
			`total_quantity`, 
			`total_quantity_unit`, 
			`pack_size_length`, 
			`pack_size_width`, 
			`pack_size_height`, 
			`total_volume`, 
			`unit_rough_weight`, 
			`total_rough_weight`, 
			`unit_net_weight`, 
			`total_net_weight`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{exShipOrderId}, 
			#{shipMarkInfo}, 
			#{chineseName}, 
			#{englishName}, 
			#{pkgs}, 
			#{pkgsUnit}, 
			#{totalQuantity}, 
			#{totalQuantityUnit}, 
			#{packSizeLength}, 
			#{packSizeWidth}, 
			#{packSizeHeight}, 
			#{totalVolume}, 
			#{unitRoughWeight}, 
			#{totalRoughWeight}, 
			#{unitNetWeight}, 
			#{totalNetWeight}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.doc.domain.ExShipOrderCommodityDO">
		update ex_ship_order_commodity 
		<set>
			<if test="exShipOrderId != null">`ex_ship_order_id` = #{exShipOrderId}, </if>
			<if test="shipMarkInfo != null">`ship_mark_info` = #{shipMarkInfo}, </if>
			<if test="chineseName != null">`chinese_name` = #{chineseName}, </if>
			<if test="englishName != null">`english_name` = #{englishName}, </if>
			<if test="pkgs != null">`pkgs` = #{pkgs}, </if>
			<if test="pkgsUnit != null">`pkgs_unit` = #{pkgsUnit}, </if>
			<if test="totalQuantity != null">`total_quantity` = #{totalQuantity}, </if>
			<if test="totalQuantityUnit != null">`total_quantity_unit` = #{totalQuantityUnit}, </if>
			<if test="packSizeLength != null">`pack_size_length` = #{packSizeLength}, </if>
			<if test="packSizeWidth != null">`pack_size_width` = #{packSizeWidth}, </if>
			<if test="packSizeHeight != null">`pack_size_height` = #{packSizeHeight}, </if>
			<if test="totalVolume != null">`total_volume` = #{totalVolume}, </if>
			<if test="unitRoughWeight != null">`unit_rough_weight` = #{unitRoughWeight}, </if>
			<if test="totalRoughWeight != null">`total_rough_weight` = #{totalRoughWeight}, </if>
			<if test="unitNetWeight != null">`unit_net_weight` = #{unitNetWeight}, </if>
			<if test="totalNetWeight != null">`total_net_weight` = #{totalNetWeight}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_ship_order_commodity_id = #{exShipOrderCommodityId}
	</update>
	
	<delete id="remove">
		delete from ex_ship_order_commodity where ex_ship_order_commodity_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_ship_order_commodity where ex_ship_order_commodity_id in 
		<foreach item="exShipOrderCommodityId" collection="array" open="(" separator="," close=")">
			#{exShipOrderCommodityId}
		</foreach>
	</delete>

</mapper>