<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ft.dao.ClientDao">

	<select id="get" resultType="com.cloudht.ft.domain.ClientDO">
		select `ft_client_id`,`register_type`,`company_name`,`province`,`city`,`detailed_address`,`full_name`,`sex`,`telephone`,`phone`,`marketer_id`,`audit_status`,`client_no`,`service_contract_no`,`servicer_id`,`operator_id`,`client_type`,`gmt_create`,`gmt_modified` from ft_client where ft_client_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ft.domain.ClientDO">
		select `ft_client_id`,`register_type`,`company_name`,`province`,`city`,`detailed_address`,`full_name`,`sex`,`telephone`,`phone`,`marketer_id`,`audit_status`,`client_no`,`service_contract_no`,`servicer_id`,`operator_id`,`client_type`,`gmt_create`,`gmt_modified` from ft_client
        <where>  
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="registerType != null and registerType != ''"> and register_type = #{registerType} </if>
		  		  <if test="companyName != null and companyName != ''"> and company_name = #{companyName} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="detailedAddress != null and detailedAddress != ''"> and detailed_address = #{detailedAddress} </if>
		  		  <if test="fullName != null and fullName != ''"> and full_name = #{fullName} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="marketerId != null and marketerId != ''"> and marketer_id = #{marketerId} </if>
		  		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  		  <if test="clientNo != null and clientNo != ''"> and client_no = #{clientNo} </if>
		  		  <if test="serviceContractNo != null and serviceContractNo != ''"> and service_contract_no = #{serviceContractNo} </if>
		  		  <if test="servicerId != null and servicerId != ''"> and servicer_id = #{servicerId} </if>
		  		  <if test="operatorId != null and operatorId != ''"> and operator_id = #{operatorId} </if>
		  		  <if test="clientType != null and clientType != ''"> and client_type = #{clientType} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ft_client_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ft_client
		 <where>  
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="registerType != null and registerType != ''"> and register_type = #{registerType} </if>
		  		  <if test="companyName != null and companyName != ''"> and company_name = #{companyName} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="detailedAddress != null and detailedAddress != ''"> and detailed_address = #{detailedAddress} </if>
		  		  <if test="fullName != null and fullName != ''"> and full_name = #{fullName} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="marketerId != null and marketerId != ''"> and marketer_id = #{marketerId} </if>
		  		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  		  <if test="clientNo != null and clientNo != ''"> and client_no = #{clientNo} </if>
		  		  <if test="serviceContractNo != null and serviceContractNo != ''"> and service_contract_no = #{serviceContractNo} </if>
		  		  <if test="servicerId != null and servicerId != ''"> and servicer_id = #{servicerId} </if>
		  		  <if test="operatorId != null and operatorId != ''"> and operator_id = #{operatorId} </if>
		  		  <if test="clientType != null and clientType != ''"> and client_type = #{clientType} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ft.domain.ClientDO" useGeneratedKeys="true" keyProperty="ftClientId">
		insert into ft_client
		(
			`register_type`, 
			`company_name`, 
			`province`, 
			`city`, 
			`detailed_address`, 
			`full_name`, 
			`sex`, 
			`telephone`, 
			`phone`, 
			`marketer_id`, 
			`audit_status`, 
			`client_no`, 
			`service_contract_no`, 
			`servicer_id`, 
			`operator_id`, 
			`client_type`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{registerType}, 
			#{companyName}, 
			#{province}, 
			#{city}, 
			#{detailedAddress}, 
			#{fullName}, 
			#{sex}, 
			#{telephone}, 
			#{phone}, 
			#{marketerId}, 
			#{auditStatus}, 
			#{clientNo}, 
			#{serviceContractNo}, 
			#{servicerId}, 
			#{operatorId}, 
			#{clientType}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ft.domain.ClientDO">
		update ft_client 
		<set>
			<if test="registerType != null">`register_type` = #{registerType}, </if>
			<if test="companyName != null">`company_name` = #{companyName}, </if>
			<if test="province != null">`province` = #{province}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="detailedAddress != null">`detailed_address` = #{detailedAddress}, </if>
			<if test="fullName != null">`full_name` = #{fullName}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="telephone != null">`telephone` = #{telephone}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="marketerId != null">`marketer_id` = #{marketerId}, </if>
			<if test="auditStatus != null">`audit_status` = #{auditStatus}, </if>
			<if test="clientNo != null">`client_no` = #{clientNo}, </if>
			<if test="serviceContractNo != null">`service_contract_no` = #{serviceContractNo}, </if>
			<if test="servicerId != null">`servicer_id` = #{servicerId}, </if>
			<if test="operatorId != null">`operator_id` = #{operatorId}, </if>
			<if test="clientType != null">`client_type` = #{clientType}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ft_client_id = #{ftClientId}
	</update>
	
	<delete id="remove">
		delete from ft_client where ft_client_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ft_client where ft_client_id in 
		<foreach item="ftClientId" collection="array" open="(" separator="," close=")">
			#{ftClientId}
		</foreach>
	</delete>

</mapper>