<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ft.dao.FtCustServiceDao">

	<select id="get" resultType="com.cloudht.ft.domain.FtCustServiceDO">
		select `ft_cust_service_id`,`ft_cust_id`,`currency`,`price_terms`,`settlement_way`,`departure_port`,`transit_port`,`destination_port`,`destination_country`,`ship_company_name`,`forwarder_company_name`,`credit_insurance_effect_date`,`credit_insurance_buyer_no`,`credit_line`,`credit_insurance_application_no`,`credit_insurance_settle_way`,`settle_deadline`,`gmt_create`,`gmt_modified`,`is_delete` from ft_cust_service where ft_cust_service_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ft.domain.FtCustServiceDO">
		select `ft_cust_service_id`,`ft_cust_id`,`currency`,`price_terms`,`settlement_way`,`departure_port`,`transit_port`,`destination_port`,`destination_country`,`ship_company_name`,`forwarder_company_name`,`credit_insurance_effect_date`,`credit_insurance_buyer_no`,`credit_line`,`credit_insurance_application_no`,`credit_insurance_settle_way`,`settle_deadline`,`gmt_create`,`gmt_modified`,`is_delete` from ft_cust_service
        <where>  
		  		  <if test="ftCustServiceId != null and ftCustServiceId != ''"> and ft_cust_service_id = #{ftCustServiceId} </if>
		  		  <if test="ftCustId != null and ftCustId != ''"> and ft_cust_id = #{ftCustId} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="priceTerms != null and priceTerms != ''"> and price_terms = #{priceTerms} </if>
		  		  <if test="settlementWay != null and settlementWay != ''"> and settlement_way = #{settlementWay} </if>
		  		  <if test="departurePort != null and departurePort != ''"> and departure_port = #{departurePort} </if>
		  		  <if test="transitPort != null and transitPort != ''"> and transit_port = #{transitPort} </if>
		  		  <if test="destinationPort != null and destinationPort != ''"> and destination_port = #{destinationPort} </if>
		  		  <if test="destinationCountry != null and destinationCountry != ''"> and destination_country = #{destinationCountry} </if>
		  		  <if test="shipCompanyName != null and shipCompanyName != ''"> and ship_company_name = #{shipCompanyName} </if>
		  		  <if test="forwarderCompanyName != null and forwarderCompanyName != ''"> and forwarder_company_name = #{forwarderCompanyName} </if>
		  		  <if test="creditInsuranceEffectDate != null and creditInsuranceEffectDate != ''"> and credit_insurance_effect_date = #{creditInsuranceEffectDate} </if>
		  		  <if test="creditInsuranceBuyerNo != null and creditInsuranceBuyerNo != ''"> and credit_insurance_buyer_no = #{creditInsuranceBuyerNo} </if>
		  		  <if test="creditLine != null and creditLine != ''"> and credit_line = #{creditLine} </if>
		  		  <if test="creditInsuranceApplicationNo != null and creditInsuranceApplicationNo != ''"> and credit_insurance_application_no = #{creditInsuranceApplicationNo} </if>
		  		  <if test="creditInsuranceSettleWay != null and creditInsuranceSettleWay != ''"> and credit_insurance_settle_way = #{creditInsuranceSettleWay} </if>
		  		  <if test="settleDeadline != null and settleDeadline != ''"> and settle_deadline = #{settleDeadline} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ft_cust_service_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ft_cust_service
		 <where>  
		  		  <if test="ftCustServiceId != null and ftCustServiceId != ''"> and ft_cust_service_id = #{ftCustServiceId} </if>
		  		  <if test="ftCustId != null and ftCustId != ''"> and ft_cust_id = #{ftCustId} </if>
		  		  <if test="currency != null and currency != ''"> and currency = #{currency} </if>
		  		  <if test="priceTerms != null and priceTerms != ''"> and price_terms = #{priceTerms} </if>
		  		  <if test="settlementWay != null and settlementWay != ''"> and settlement_way = #{settlementWay} </if>
		  		  <if test="departurePort != null and departurePort != ''"> and departure_port = #{departurePort} </if>
		  		  <if test="transitPort != null and transitPort != ''"> and transit_port = #{transitPort} </if>
		  		  <if test="destinationPort != null and destinationPort != ''"> and destination_port = #{destinationPort} </if>
		  		  <if test="destinationCountry != null and destinationCountry != ''"> and destination_country = #{destinationCountry} </if>
		  		  <if test="shipCompanyName != null and shipCompanyName != ''"> and ship_company_name = #{shipCompanyName} </if>
		  		  <if test="forwarderCompanyName != null and forwarderCompanyName != ''"> and forwarder_company_name = #{forwarderCompanyName} </if>
		  		  <if test="creditInsuranceEffectDate != null and creditInsuranceEffectDate != ''"> and credit_insurance_effect_date = #{creditInsuranceEffectDate} </if>
		  		  <if test="creditInsuranceBuyerNo != null and creditInsuranceBuyerNo != ''"> and credit_insurance_buyer_no = #{creditInsuranceBuyerNo} </if>
		  		  <if test="creditLine != null and creditLine != ''"> and credit_line = #{creditLine} </if>
		  		  <if test="creditInsuranceApplicationNo != null and creditInsuranceApplicationNo != ''"> and credit_insurance_application_no = #{creditInsuranceApplicationNo} </if>
		  		  <if test="creditInsuranceSettleWay != null and creditInsuranceSettleWay != ''"> and credit_insurance_settle_way = #{creditInsuranceSettleWay} </if>
		  		  <if test="settleDeadline != null and settleDeadline != ''"> and settle_deadline = #{settleDeadline} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ft.domain.FtCustServiceDO" useGeneratedKeys="true" keyProperty="ftCustServiceId">
		insert into ft_cust_service
		(
			`ft_cust_id`, 
			`currency`, 
			`price_terms`, 
			`settlement_way`, 
			`departure_port`, 
			`transit_port`, 
			`destination_port`, 
			`destination_country`, 
			`ship_company_name`, 
			`forwarder_company_name`, 
			`credit_insurance_effect_date`, 
			`credit_insurance_buyer_no`, 
			`credit_line`, 
			`credit_insurance_application_no`, 
			`credit_insurance_settle_way`, 
			`settle_deadline`, 
			`gmt_create`, 
			`gmt_modified`, 
			`is_delete`
		)
		values
		(
			#{ftCustId}, 
			#{currency}, 
			#{priceTerms}, 
			#{settlementWay}, 
			#{departurePort}, 
			#{transitPort}, 
			#{destinationPort}, 
			#{destinationCountry}, 
			#{shipCompanyName}, 
			#{forwarderCompanyName}, 
			#{creditInsuranceEffectDate}, 
			#{creditInsuranceBuyerNo}, 
			#{creditLine}, 
			#{creditInsuranceApplicationNo}, 
			#{creditInsuranceSettleWay}, 
			#{settleDeadline}, 
			#{gmtCreate}, 
			#{gmtModified}, 
			#{isDelete}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ft.domain.FtCustServiceDO">
		update ft_cust_service 
		<set>
			<if test="ftCustId != null">`ft_cust_id` = #{ftCustId}, </if>
			<if test="currency != null">`currency` = #{currency}, </if>
			<if test="priceTerms != null">`price_terms` = #{priceTerms}, </if>
			<if test="settlementWay != null">`settlement_way` = #{settlementWay}, </if>
			<if test="departurePort != null">`departure_port` = #{departurePort}, </if>
			<if test="transitPort != null">`transit_port` = #{transitPort}, </if>
			<if test="destinationPort != null">`destination_port` = #{destinationPort}, </if>
			<if test="destinationCountry != null">`destination_country` = #{destinationCountry}, </if>
			<if test="shipCompanyName != null">`ship_company_name` = #{shipCompanyName}, </if>
			<if test="forwarderCompanyName != null">`forwarder_company_name` = #{forwarderCompanyName}, </if>
			<if test="creditInsuranceEffectDate != null">`credit_insurance_effect_date` = #{creditInsuranceEffectDate}, </if>
			<if test="creditInsuranceBuyerNo != null">`credit_insurance_buyer_no` = #{creditInsuranceBuyerNo}, </if>
			<if test="creditLine != null">`credit_line` = #{creditLine}, </if>
			<if test="creditInsuranceApplicationNo != null">`credit_insurance_application_no` = #{creditInsuranceApplicationNo}, </if>
			<if test="creditInsuranceSettleWay != null">`credit_insurance_settle_way` = #{creditInsuranceSettleWay}, </if>
			<if test="settleDeadline != null">`settle_deadline` = #{settleDeadline}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}</if>
		</set>
		where ft_cust_service_id = #{ftCustServiceId}
	</update>
	
	<delete id="remove">
		delete from ft_cust_service where ft_cust_service_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ft_cust_service where ft_cust_service_id in 
		<foreach item="ftCustServiceId" collection="array" open="(" separator="," close=")">
			#{ftCustServiceId}
		</foreach>
	</delete>

</mapper>