<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ft.dao.FtExpressBaseDao">

	<select id="get" resultType="com.cloudht.ft.domain.FtExpressBaseDO">
		select `ft_express_base_id`,`shipment_type`,`post_date`,`handler_name`,`sender_name`,`sender_telephone`,`order_no`,`ft_client_id`,`customer_name`,`customer_id`,`detailed_address`,`contact`,`contact_telephone`,`contact_phone`,`country`,`province`,`city`,`postcode`,`area_code`,`courier_account`,`express_company`,`express_no`,`payment_type`,`express_fee`,`express_desc`,`file_path`,`gmt_create`,`gmt_modified` from ft_express_base where ft_express_base_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ft.domain.FtExpressBaseDO">
		select `ft_express_base_id`,`shipment_type`,`post_date`,`handler_name`,`sender_name`,`sender_telephone`,`order_no`,`ft_client_id`,`customer_name`,`customer_id`,`detailed_address`,`contact`,`contact_telephone`,`contact_phone`,`country`,`province`,`city`,`postcode`,`area_code`,`courier_account`,`express_company`,`express_no`,`payment_type`,`express_fee`,`express_desc`,`file_path`,`gmt_create`,`gmt_modified` from ft_express_base
        <where>  
		  		  <if test="ftExpressBaseId != null and ftExpressBaseId != ''"> and ft_express_base_id = #{ftExpressBaseId} </if>
		  		  <if test="shipmentType != null and shipmentType != ''"> and shipment_type = #{shipmentType} </if>
		  		  <if test="postDate != null and postDate != ''"> and post_date = #{postDate} </if>
		  		  <if test="handlerName != null and handlerName != ''"> and handler_name = #{handlerName} </if>
		  		  <if test="senderName != null and senderName != ''"> and sender_name = #{senderName} </if>
		  		  <if test="senderTelephone != null and senderTelephone != ''"> and sender_telephone = #{senderTelephone} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="customerName != null and customerName != ''"> and customer_name = #{customerName} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="detailedAddress != null and detailedAddress != ''"> and detailed_address = #{detailedAddress} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="contactTelephone != null and contactTelephone != ''"> and contact_telephone = #{contactTelephone} </if>
		  		  <if test="contactPhone != null and contactPhone != ''"> and contact_phone = #{contactPhone} </if>
		  		  <if test="country != null and country != ''"> and country = #{country} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="postcode != null and postcode != ''"> and postcode = #{postcode} </if>
		  		  <if test="areaCode != null and areaCode != ''"> and area_code = #{areaCode} </if>
		  		  <if test="courierAccount != null and courierAccount != ''"> and courier_account = #{courierAccount} </if>
		  		  <if test="expressCompany != null and expressCompany != ''"> and express_company = #{expressCompany} </if>
		  		  <if test="expressNo != null and expressNo != ''"> and express_no = #{expressNo} </if>
		  		  <if test="paymentType != null and paymentType != ''"> and payment_type = #{paymentType} </if>
		  		  <if test="expressFee != null and expressFee != ''"> and express_fee = #{expressFee} </if>
		  		  <if test="expressDesc != null and expressDesc != ''"> and express_desc = #{expressDesc} </if>
		  		  <if test="filePath != null and filePath != ''"> and file_path = #{filePath} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ft_express_base_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ft_express_base
		 <where>  
		  		  <if test="ftExpressBaseId != null and ftExpressBaseId != ''"> and ft_express_base_id = #{ftExpressBaseId} </if>
		  		  <if test="shipmentType != null and shipmentType != ''"> and shipment_type = #{shipmentType} </if>
		  		  <if test="postDate != null and postDate != ''"> and post_date = #{postDate} </if>
		  		  <if test="handlerName != null and handlerName != ''"> and handler_name = #{handlerName} </if>
		  		  <if test="senderName != null and senderName != ''"> and sender_name = #{senderName} </if>
		  		  <if test="senderTelephone != null and senderTelephone != ''"> and sender_telephone = #{senderTelephone} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="customerName != null and customerName != ''"> and customer_name = #{customerName} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="detailedAddress != null and detailedAddress != ''"> and detailed_address = #{detailedAddress} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="contactTelephone != null and contactTelephone != ''"> and contact_telephone = #{contactTelephone} </if>
		  		  <if test="contactPhone != null and contactPhone != ''"> and contact_phone = #{contactPhone} </if>
		  		  <if test="country != null and country != ''"> and country = #{country} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="postcode != null and postcode != ''"> and postcode = #{postcode} </if>
		  		  <if test="areaCode != null and areaCode != ''"> and area_code = #{areaCode} </if>
		  		  <if test="courierAccount != null and courierAccount != ''"> and courier_account = #{courierAccount} </if>
		  		  <if test="expressCompany != null and expressCompany != ''"> and express_company = #{expressCompany} </if>
		  		  <if test="expressNo != null and expressNo != ''"> and express_no = #{expressNo} </if>
		  		  <if test="paymentType != null and paymentType != ''"> and payment_type = #{paymentType} </if>
		  		  <if test="expressFee != null and expressFee != ''"> and express_fee = #{expressFee} </if>
		  		  <if test="expressDesc != null and expressDesc != ''"> and express_desc = #{expressDesc} </if>
		  		  <if test="filePath != null and filePath != ''"> and file_path = #{filePath} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ft.domain.FtExpressBaseDO" useGeneratedKeys="true" keyProperty="ftExpressBaseId">
		insert into ft_express_base
		(
			`shipment_type`, 
			`post_date`, 
			`handler_name`, 
			`sender_name`, 
			`sender_telephone`, 
			`order_no`, 
			`ft_client_id`, 
			`customer_name`, 
			`customer_id`, 
			`detailed_address`, 
			`contact`, 
			`contact_telephone`, 
			`contact_phone`, 
			`country`, 
			`province`, 
			`city`, 
			`postcode`, 
			`area_code`, 
			`courier_account`, 
			`express_company`, 
			`express_no`, 
			`payment_type`, 
			`express_fee`, 
			`express_desc`, 
			`file_path`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{shipmentType}, 
			#{postDate}, 
			#{handlerName}, 
			#{senderName}, 
			#{senderTelephone}, 
			#{orderNo}, 
			#{ftClientId}, 
			#{customerName}, 
			#{customerId}, 
			#{detailedAddress}, 
			#{contact}, 
			#{contactTelephone}, 
			#{contactPhone}, 
			#{country}, 
			#{province}, 
			#{city}, 
			#{postcode}, 
			#{areaCode}, 
			#{courierAccount}, 
			#{expressCompany}, 
			#{expressNo}, 
			#{paymentType}, 
			#{expressFee}, 
			#{expressDesc}, 
			#{filePath}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ft.domain.FtExpressBaseDO">
		update ft_express_base 
		<set>
			<if test="shipmentType != null">`shipment_type` = #{shipmentType}, </if>
			<if test="postDate != null">`post_date` = #{postDate}, </if>
			<if test="handlerName != null">`handler_name` = #{handlerName}, </if>
			<if test="senderName != null">`sender_name` = #{senderName}, </if>
			<if test="senderTelephone != null">`sender_telephone` = #{senderTelephone}, </if>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="ftClientId != null">`ft_client_id` = #{ftClientId}, </if>
			<if test="customerName != null">`customer_name` = #{customerName}, </if>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="detailedAddress != null">`detailed_address` = #{detailedAddress}, </if>
			<if test="contact != null">`contact` = #{contact}, </if>
			<if test="contactTelephone != null">`contact_telephone` = #{contactTelephone}, </if>
			<if test="contactPhone != null">`contact_phone` = #{contactPhone}, </if>
			<if test="country != null">`country` = #{country}, </if>
			<if test="province != null">`province` = #{province}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="postcode != null">`postcode` = #{postcode}, </if>
			<if test="areaCode != null">`area_code` = #{areaCode}, </if>
			<if test="courierAccount != null">`courier_account` = #{courierAccount}, </if>
			<if test="expressCompany != null">`express_company` = #{expressCompany}, </if>
			<if test="expressNo != null">`express_no` = #{expressNo}, </if>
			<if test="paymentType != null">`payment_type` = #{paymentType}, </if>
			<if test="expressFee != null">`express_fee` = #{expressFee}, </if>
			<if test="expressDesc != null">`express_desc` = #{expressDesc}, </if>
			<if test="filePath != null">`file_path` = #{filePath}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ft_express_base_id = #{ftExpressBaseId}
	</update>
	
	<delete id="remove">
		delete from ft_express_base where ft_express_base_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ft_express_base where ft_express_base_id in 
		<foreach item="ftExpressBaseId" collection="array" open="(" separator="," close=")">
			#{ftExpressBaseId}
		</foreach>
	</delete>

</mapper>