<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ft.dao.FtInspectionCommodityDao">

	<select id="get" resultType="com.cloudht.ft.domain.FtInspectionCommodityDO">
		select `ft_inspection_commodity_id`,`ft_client_id`,`invoice_no`,`inspection_date`,`commodity_name`,`original_hscode`,`after_hscode`,`inspection_result`,`punishment_result`,`remark`,`gmt_create`,`gmt_modified` from ft_inspection_commodity where ft_inspection_commodity_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ft.domain.FtInspectionCommodityDO">
		select `ft_inspection_commodity_id`,`ft_client_id`,`invoice_no`,`inspection_date`,`commodity_name`,`original_hscode`,`after_hscode`,`inspection_result`,`punishment_result`,`remark`,`gmt_create`,`gmt_modified` from ft_inspection_commodity
        <where>  
		  		  <if test="ftInspectionCommodityId != null and ftInspectionCommodityId != ''"> and ft_inspection_commodity_id = #{ftInspectionCommodityId} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="invoiceNo != null and invoiceNo != ''"> and invoice_no = #{invoiceNo} </if>
		  		  <if test="inspectionDate != null and inspectionDate != ''"> and inspection_date = #{inspectionDate} </if>
		  		  <if test="commodityName != null and commodityName != ''"> and commodity_name = #{commodityName} </if>
		  		  <if test="originalHscode != null and originalHscode != ''"> and original_hscode = #{originalHscode} </if>
		  		  <if test="afterHscode != null and afterHscode != ''"> and after_hscode = #{afterHscode} </if>
		  		  <if test="inspectionResult != null and inspectionResult != ''"> and inspection_result = #{inspectionResult} </if>
		  		  <if test="punishmentResult != null and punishmentResult != ''"> and punishment_result = #{punishmentResult} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ft_inspection_commodity_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ft_inspection_commodity
		 <where>  
		  		  <if test="ftInspectionCommodityId != null and ftInspectionCommodityId != ''"> and ft_inspection_commodity_id = #{ftInspectionCommodityId} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="invoiceNo != null and invoiceNo != ''"> and invoice_no = #{invoiceNo} </if>
		  		  <if test="inspectionDate != null and inspectionDate != ''"> and inspection_date = #{inspectionDate} </if>
		  		  <if test="commodityName != null and commodityName != ''"> and commodity_name = #{commodityName} </if>
		  		  <if test="originalHscode != null and originalHscode != ''"> and original_hscode = #{originalHscode} </if>
		  		  <if test="afterHscode != null and afterHscode != ''"> and after_hscode = #{afterHscode} </if>
		  		  <if test="inspectionResult != null and inspectionResult != ''"> and inspection_result = #{inspectionResult} </if>
		  		  <if test="punishmentResult != null and punishmentResult != ''"> and punishment_result = #{punishmentResult} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ft.domain.FtInspectionCommodityDO" useGeneratedKeys="true" keyProperty="ftInspectionCommodityId">
		insert into ft_inspection_commodity
		(
			`ft_client_id`, 
			`invoice_no`, 
			`inspection_date`, 
			`commodity_name`, 
			`original_hscode`, 
			`after_hscode`, 
			`inspection_result`, 
			`punishment_result`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{ftClientId}, 
			#{invoiceNo}, 
			#{inspectionDate}, 
			#{commodityName}, 
			#{originalHscode}, 
			#{afterHscode}, 
			#{inspectionResult}, 
			#{punishmentResult}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ft.domain.FtInspectionCommodityDO">
		update ft_inspection_commodity 
		<set>
			<if test="ftClientId != null">`ft_client_id` = #{ftClientId}, </if>
			<if test="invoiceNo != null">`invoice_no` = #{invoiceNo}, </if>
			<if test="inspectionDate != null">`inspection_date` = #{inspectionDate}, </if>
			<if test="commodityName != null">`commodity_name` = #{commodityName}, </if>
			<if test="originalHscode != null">`original_hscode` = #{originalHscode}, </if>
			<if test="afterHscode != null">`after_hscode` = #{afterHscode}, </if>
			<if test="inspectionResult != null">`inspection_result` = #{inspectionResult}, </if>
			<if test="punishmentResult != null">`punishment_result` = #{punishmentResult}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ft_inspection_commodity_id = #{ftInspectionCommodityId}
	</update>
	
	<delete id="remove">
		delete from ft_inspection_commodity where ft_inspection_commodity_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ft_inspection_commodity where ft_inspection_commodity_id in 
		<foreach item="ftInspectionCommodityId" collection="array" open="(" separator="," close=")">
			#{ftInspectionCommodityId}
		</foreach>
	</delete>

</mapper>