<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#">最新消息</a>
        </h3>
    </div>
    <div class="panel-body text-info">
        <h4>
            系统通知：谷歌山西体验中心同榆次工商银行，将于下周六共同举办外贸业务培训线下沟通会。
        </h4>
        <span>2018.6.1</span>
    </div>
</div>

<div class="col-md-6 panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            出口订单记录
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-warning btn-large" href="#"> <i class="fa fa-star"></i>已受理订单列表<span class="badge">4</span></a>
            </li>
            <li>
                <a class="btn btn-success btn-large" href="#"> <i class="fa fa-star-half-empty"></i>待受理订单列表<span class="badge">2</span></a>
            </li>
            <li>
                <a class="btn btn-primary btn-large" href="#"> <i class="fa fa-star-o"></i>未提交订单列表<span class="badge">6</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-6 panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#">出口未确认消息</a>
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-warning btn-large" href="#"> <i class="fa fa-star"></i>未阅读订舱信息<span class="badge">2</span></a>
            </li>
            <li>
                <a class="btn btn-success btn-large" href="#"> <i class="fa fa-star-half-empty"></i>新收汇信息<span class="badge">3</span></a>
            </li>
            <li>
                <a class="btn btn-primary btn-large" href="#"> <i class="fa fa-star-o"></i>未关联水单<span class="badge">6</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-6 panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            出口订单记录
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-warning btn-large" href="#"> <i class="fa fa-star"></i>已受理订单列表<span class="badge">2</span></a>
            </li>
            <li>
                <a class="btn btn-success btn-large" href="#"> <i class="fa fa-star-half-empty"></i>待受理订单列表<span class="badge">4</span></a>
            </li>
            <li>
                <a class="btn btn-primary btn-large" href="#"> <i class="fa fa-star-o"></i>未提交订单列表<span class="badge">2</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-6 panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#">出口未确认消息</a>
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-warning btn-large" href="#"> <i class="fa fa-star"></i>通关跟踪<span class="badge">2</span></a>
            </li>
            <li>
                <a class="btn btn-success btn-large" href="#"> <i class="fa fa-star-half-empty"></i>代理合同<span class="badge">3</span></a>
            </li>
            <li>
                <a class="btn btn-primary btn-large" href="#"> <i class="fa fa-star-o"></i>到单通知<span class="badge">6</span></a>
            </li>
        </ul>
    </div>
</div>

<!--shiro控制bootstraptable行内按钮看见性 来自ftcsp的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="oa:notify:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="oa:notify:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="oa:notify:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>

<div th:include="include :: footer"></div>
</body>
</html>