<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li >
					<a href="/ex/exOrderInfo/add">在线下单</a>
				</li>
				<li>
					<a href="/ex/exOrderInfo">订单记录</a>
				</li>
				<li class="active">
					<a href="/ex/exShipOrder">订舱信息</a>
				</li>
				<li >
					<a href="#">收汇登记</a>
				</li>
				<li >
					<a href="/ft/ftExpressBase">快件管理</a>
				</li>
				<li >
					<a href="#">服务合同管理</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
								<form class="form-inline" role="form">
									
									&nbsp;&nbsp;
									<div class="form-group">
										<label>发票号：</label>
										<input type="text" class="form-control" id="name"
											   placeholder="">
									</div>
									&nbsp;&nbsp;
									<div class="form-group">
										<label >收货人：</label>
										<input type="text" class="form-control" id="name"
											   placeholder="">
									</div>
									&nbsp;&nbsp;
									<div class="form-group">
										<label >起运巷：</label>
										<input type="text" class="form-control" id="name"
											   placeholder="">
									</div>
									&nbsp;&nbsp;
									<div class="form-group">
										<label >目的巷：</label>
										<input type="text" class="form-control" id="name"
											   placeholder="">
									</div>
									&nbsp;&nbsp;
									<div class="form-group">
										<label  >阅读状态：</label>
										<select class="form-control">
											<option>全部</option>
											<option>已读</option>
											<option>未读</option>
										</select>
									</div>
									<button type="submit" class="center-block btn btn-warning">搜索</button>
								</form>
					</div>
					<!-- <div>此处添加查询表单</div>
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="ex:exShipOrder:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="ex:exShipOrder:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询吗</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
					</div> -->
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自ftcsp的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="ex:exShipOrder:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="ex:exShipOrder:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="ex:exShipOrder:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/ex/exShipOrder/exShipOrder.js"></script>
</body>
</html>