<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg" >

	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div id="rrapp" v-cloak class="ibox-content" >
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">委托方：</label>
								<div class="col-sm-8">
									<input id="ftClientId" v-model="orderHeader.ftClientId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出口发票号：</label>
								<div class="col-sm-8">
									<input id="exportInvoiceNo" v-model="orderHeader.exportInvoiceNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">外销合同号：</label>
								<div class="col-sm-8">
									<input id="exportContractNo" v-model="orderHeader.exportContractNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">交货日期：</label>
								<div class="col-sm-8">
									<input id="deliveryDate" v-model="orderHeader.deliveryDate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收货人：</label>
								<div class="col-sm-8">
									<input id="consignee" v-model="orderHeader.consignee" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">联系人：</label>
								<div class="col-sm-8">
									<input id="contact" v-model="orderHeader.contact" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">办公室电话：</label>
								<div class="col-sm-8">
									<input id="officePhone" v-model="orderHeader.officePhone" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">手机：</label>
								<div class="col-sm-8">
									<input id="phone" v-model="orderHeader.phone" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" v-model="orderHeader.remark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否已结算：0-未结算状态，1-已结算状态：</label>
								<div class="col-sm-8">
									<input id="isSettled" v-model="orderHeader.isSettled" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核状态：0-未提交，1-待受理，2-待专家受理，3-拒绝受理，4-已撤销，5-撤回修改，6-已受理：</label>
								<div class="col-sm-8">
									<input id="auditStatus" v-model="orderHeader.auditStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否已删除：0-否，1-是：</label>
								<div class="col-sm-8">
									<input id="isDeleted" v-model="orderHeader.isDeleted" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" v-model="orderHeader.gmtCreate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gmtModified" v-model="orderHeader.gmtModified" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ex/orderHeader/add.js">
	</script>
</body>
</html>
