<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ex.dao.OrderCommodityDao">

	<select id="get" resultType="com.cloudht.ex.domain.OrderCommodityDO">
		select `ex_order_commodity_id`,`ex_order_header_id`,`manufacturer`,`manufacturer_code`,`factory_article_no`,`customs_code`,`tax_refund_rate`,`ship_mark_info`,`chinese_name`,`english_name`,`declare_element`,`pkgs`,`pkgs_unit`,`total_quantity`,`total_quantity_unit`,`pack_size_length`,`pack_size_width`,`pack_size_height`,`total_volume`,`unit_rough_weight`,`total_rough_weight`,`unit_net_weight`,`total_net_weight`,`purchase_unit_price`,`purchase_total_price`,`
export_unit_price`,`
export_total_price`,`gmt_create`,`gmt_modified` from ex_order_commodity where ex_order_commodity_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ex.domain.OrderCommodityDO">
		select `ex_order_commodity_id`,`ex_order_header_id`,`manufacturer`,`manufacturer_code`,`factory_article_no`,`customs_code`,`tax_refund_rate`,`ship_mark_info`,`chinese_name`,`english_name`,`declare_element`,`pkgs`,`pkgs_unit`,`total_quantity`,`total_quantity_unit`,`pack_size_length`,`pack_size_width`,`pack_size_height`,`total_volume`,`unit_rough_weight`,`total_rough_weight`,`unit_net_weight`,`total_net_weight`,`purchase_unit_price`,`purchase_total_price`,`
export_unit_price`,`
export_total_price`,`gmt_create`,`gmt_modified` from ex_order_commodity
        <where>  
		  		  <if test="exOrderCommodityId != null and exOrderCommodityId != ''"> and ex_order_commodity_id = #{exOrderCommodityId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="manufacturer != null and manufacturer != ''"> and manufacturer = #{manufacturer} </if>
		  		  <if test="manufacturerCode != null and manufacturerCode != ''"> and manufacturer_code = #{manufacturerCode} </if>
		  		  <if test="factoryArticleNo != null and factoryArticleNo != ''"> and factory_article_no = #{factoryArticleNo} </if>
		  		  <if test="customsCode != null and customsCode != ''"> and customs_code = #{customsCode} </if>
		  		  <if test="taxRefundRate != null and taxRefundRate != ''"> and tax_refund_rate = #{taxRefundRate} </if>
		  		  <if test="shipMarkInfo != null and shipMarkInfo != ''"> and ship_mark_info = #{shipMarkInfo} </if>
		  		  <if test="chineseName != null and chineseName != ''"> and chinese_name = #{chineseName} </if>
		  		  <if test="englishName != null and englishName != ''"> and english_name = #{englishName} </if>
		  		  <if test="declareElement != null and declareElement != ''"> and declare_element = #{declareElement} </if>
		  		  <if test="pkgs != null and pkgs != ''"> and pkgs = #{pkgs} </if>
		  		  <if test="pkgsUnit != null and pkgsUnit != ''"> and pkgs_unit = #{pkgsUnit} </if>
		  		  <if test="totalQuantity != null and totalQuantity != ''"> and total_quantity = #{totalQuantity} </if>
		  		  <if test="totalQuantityUnit != null and totalQuantityUnit != ''"> and total_quantity_unit = #{totalQuantityUnit} </if>
		  		  <if test="packSizeLength != null and packSizeLength != ''"> and pack_size_length = #{packSizeLength} </if>
		  		  <if test="packSizeWidth != null and packSizeWidth != ''"> and pack_size_width = #{packSizeWidth} </if>
		  		  <if test="packSizeHeight != null and packSizeHeight != ''"> and pack_size_height = #{packSizeHeight} </if>
		  		  <if test="totalVolume != null and totalVolume != ''"> and total_volume = #{totalVolume} </if>
		  		  <if test="unitRoughWeight != null and unitRoughWeight != ''"> and unit_rough_weight = #{unitRoughWeight} </if>
		  		  <if test="totalRoughWeight != null and totalRoughWeight != ''"> and total_rough_weight = #{totalRoughWeight} </if>
		  		  <if test="unitNetWeight != null and unitNetWeight != ''"> and unit_net_weight = #{unitNetWeight} </if>
		  		  <if test="totalNetWeight != null and totalNetWeight != ''"> and total_net_weight = #{totalNetWeight} </if>
		  		  <if test="purchaseUnitPrice != null and purchaseUnitPrice != ''"> and purchase_unit_price = #{purchaseUnitPrice} </if>
		  		  <if test="purchaseTotalPrice != null and purchaseTotalPrice != ''"> and purchase_total_price = #{purchaseTotalPrice} </if>
		  		  <if test="
exportUnitPrice != null and exportUnitPrice != ''"> and 
export_unit_price = #{
exportUnitPrice} </if>
		  		  <if test="
exportTotalPrice != null and exportTotalPrice != ''"> and 
export_total_price = #{
exportTotalPrice} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_order_commodity_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_order_commodity
		 <where>  
		  		  <if test="exOrderCommodityId != null and exOrderCommodityId != ''"> and ex_order_commodity_id = #{exOrderCommodityId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="manufacturer != null and manufacturer != ''"> and manufacturer = #{manufacturer} </if>
		  		  <if test="manufacturerCode != null and manufacturerCode != ''"> and manufacturer_code = #{manufacturerCode} </if>
		  		  <if test="factoryArticleNo != null and factoryArticleNo != ''"> and factory_article_no = #{factoryArticleNo} </if>
		  		  <if test="customsCode != null and customsCode != ''"> and customs_code = #{customsCode} </if>
		  		  <if test="taxRefundRate != null and taxRefundRate != ''"> and tax_refund_rate = #{taxRefundRate} </if>
		  		  <if test="shipMarkInfo != null and shipMarkInfo != ''"> and ship_mark_info = #{shipMarkInfo} </if>
		  		  <if test="chineseName != null and chineseName != ''"> and chinese_name = #{chineseName} </if>
		  		  <if test="englishName != null and englishName != ''"> and english_name = #{englishName} </if>
		  		  <if test="declareElement != null and declareElement != ''"> and declare_element = #{declareElement} </if>
		  		  <if test="pkgs != null and pkgs != ''"> and pkgs = #{pkgs} </if>
		  		  <if test="pkgsUnit != null and pkgsUnit != ''"> and pkgs_unit = #{pkgsUnit} </if>
		  		  <if test="totalQuantity != null and totalQuantity != ''"> and total_quantity = #{totalQuantity} </if>
		  		  <if test="totalQuantityUnit != null and totalQuantityUnit != ''"> and total_quantity_unit = #{totalQuantityUnit} </if>
		  		  <if test="packSizeLength != null and packSizeLength != ''"> and pack_size_length = #{packSizeLength} </if>
		  		  <if test="packSizeWidth != null and packSizeWidth != ''"> and pack_size_width = #{packSizeWidth} </if>
		  		  <if test="packSizeHeight != null and packSizeHeight != ''"> and pack_size_height = #{packSizeHeight} </if>
		  		  <if test="totalVolume != null and totalVolume != ''"> and total_volume = #{totalVolume} </if>
		  		  <if test="unitRoughWeight != null and unitRoughWeight != ''"> and unit_rough_weight = #{unitRoughWeight} </if>
		  		  <if test="totalRoughWeight != null and totalRoughWeight != ''"> and total_rough_weight = #{totalRoughWeight} </if>
		  		  <if test="unitNetWeight != null and unitNetWeight != ''"> and unit_net_weight = #{unitNetWeight} </if>
		  		  <if test="totalNetWeight != null and totalNetWeight != ''"> and total_net_weight = #{totalNetWeight} </if>
		  		  <if test="purchaseUnitPrice != null and purchaseUnitPrice != ''"> and purchase_unit_price = #{purchaseUnitPrice} </if>
		  		  <if test="purchaseTotalPrice != null and purchaseTotalPrice != ''"> and purchase_total_price = #{purchaseTotalPrice} </if>
		  		  <if test="
exportUnitPrice != null and exportUnitPrice != ''"> and 
export_unit_price = #{
exportUnitPrice} </if>
		  		  <if test="
exportTotalPrice != null and exportTotalPrice != ''"> and 
export_total_price = #{
exportTotalPrice} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ex.domain.OrderCommodityDO" useGeneratedKeys="true" keyProperty="exOrderCommodityId">
		insert into ex_order_commodity
		(
			`ex_order_header_id`, 
			`manufacturer`, 
			`manufacturer_code`, 
			`factory_article_no`, 
			`customs_code`, 
			`tax_refund_rate`, 
			`ship_mark_info`, 
			`chinese_name`, 
			`english_name`, 
			`declare_element`, 
			`pkgs`, 
			`pkgs_unit`, 
			`total_quantity`, 
			`total_quantity_unit`, 
			`pack_size_length`, 
			`pack_size_width`, 
			`pack_size_height`, 
			`total_volume`, 
			`unit_rough_weight`, 
			`total_rough_weight`, 
			`unit_net_weight`, 
			`total_net_weight`, 
			`purchase_unit_price`, 
			`purchase_total_price`, 
			`
export_unit_price`, 
			`
export_total_price`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{exOrderHeaderId}, 
			#{manufacturer}, 
			#{manufacturerCode}, 
			#{factoryArticleNo}, 
			#{customsCode}, 
			#{taxRefundRate}, 
			#{shipMarkInfo}, 
			#{chineseName}, 
			#{englishName}, 
			#{declareElement}, 
			#{pkgs}, 
			#{pkgsUnit}, 
			#{totalQuantity}, 
			#{totalQuantityUnit}, 
			#{packSizeLength}, 
			#{packSizeWidth}, 
			#{packSizeHeight}, 
			#{totalVolume}, 
			#{unitRoughWeight}, 
			#{totalRoughWeight}, 
			#{unitNetWeight}, 
			#{totalNetWeight}, 
			#{purchaseUnitPrice}, 
			#{purchaseTotalPrice}, 
			#{
exportUnitPrice}, 
			#{
exportTotalPrice}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ex.domain.OrderCommodityDO">
		update ex_order_commodity 
		<set>
			<if test="exOrderHeaderId != null">`ex_order_header_id` = #{exOrderHeaderId}, </if>
			<if test="manufacturer != null">`manufacturer` = #{manufacturer}, </if>
			<if test="manufacturerCode != null">`manufacturer_code` = #{manufacturerCode}, </if>
			<if test="factoryArticleNo != null">`factory_article_no` = #{factoryArticleNo}, </if>
			<if test="customsCode != null">`customs_code` = #{customsCode}, </if>
			<if test="taxRefundRate != null">`tax_refund_rate` = #{taxRefundRate}, </if>
			<if test="shipMarkInfo != null">`ship_mark_info` = #{shipMarkInfo}, </if>
			<if test="chineseName != null">`chinese_name` = #{chineseName}, </if>
			<if test="englishName != null">`english_name` = #{englishName}, </if>
			<if test="declareElement != null">`declare_element` = #{declareElement}, </if>
			<if test="pkgs != null">`pkgs` = #{pkgs}, </if>
			<if test="pkgsUnit != null">`pkgs_unit` = #{pkgsUnit}, </if>
			<if test="totalQuantity != null">`total_quantity` = #{totalQuantity}, </if>
			<if test="totalQuantityUnit != null">`total_quantity_unit` = #{totalQuantityUnit}, </if>
			<if test="packSizeLength != null">`pack_size_length` = #{packSizeLength}, </if>
			<if test="packSizeWidth != null">`pack_size_width` = #{packSizeWidth}, </if>
			<if test="packSizeHeight != null">`pack_size_height` = #{packSizeHeight}, </if>
			<if test="totalVolume != null">`total_volume` = #{totalVolume}, </if>
			<if test="unitRoughWeight != null">`unit_rough_weight` = #{unitRoughWeight}, </if>
			<if test="totalRoughWeight != null">`total_rough_weight` = #{totalRoughWeight}, </if>
			<if test="unitNetWeight != null">`unit_net_weight` = #{unitNetWeight}, </if>
			<if test="totalNetWeight != null">`total_net_weight` = #{totalNetWeight}, </if>
			<if test="purchaseUnitPrice != null">`purchase_unit_price` = #{purchaseUnitPrice}, </if>
			<if test="purchaseTotalPrice != null">`purchase_total_price` = #{purchaseTotalPrice}, </if>
			<if test="
exportUnitPrice != null">`
export_unit_price` = #{
exportUnitPrice}, </if>
			<if test="
exportTotalPrice != null">`
export_total_price` = #{
exportTotalPrice}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_order_commodity_id = #{exOrderCommodityId}
	</update>
	
	<delete id="remove">
		delete from ex_order_commodity where ex_order_commodity_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_order_commodity where ex_order_commodity_id in 
		<foreach item="exOrderCommodityId" collection="array" open="(" separator="," close=")">
			#{exOrderCommodityId}
		</foreach>
	</delete>

</mapper>