<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ex.dao.OrderConfirmDao">

	<select id="get" resultType="com.cloudht.ex.domain.OrderConfirmDO">
		select `ex_order_confirm_id`,`ex_order_header_id`,`credentials`,`operation_type`,`remark`,`gmt_create`,`gmt_modified` from ex_order_confirm where ex_order_confirm_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ex.domain.OrderConfirmDO">
		select `ex_order_confirm_id`,`ex_order_header_id`,`credentials`,`operation_type`,`remark`,`gmt_create`,`gmt_modified` from ex_order_confirm
        <where>  
		  		  <if test="exOrderConfirmId != null and exOrderConfirmId != ''"> and ex_order_confirm_id = #{exOrderConfirmId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="credentials != null and credentials != ''"> and credentials = #{credentials} </if>
		  		  <if test="operationType != null and operationType != ''"> and operation_type = #{operationType} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_order_confirm_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_order_confirm
		 <where>  
		  		  <if test="exOrderConfirmId != null and exOrderConfirmId != ''"> and ex_order_confirm_id = #{exOrderConfirmId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="credentials != null and credentials != ''"> and credentials = #{credentials} </if>
		  		  <if test="operationType != null and operationType != ''"> and operation_type = #{operationType} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ex.domain.OrderConfirmDO" useGeneratedKeys="true" keyProperty="exOrderConfirmId">
		insert into ex_order_confirm
		(
			`ex_order_header_id`, 
			`credentials`, 
			`operation_type`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{exOrderHeaderId}, 
			#{credentials}, 
			#{operationType}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ex.domain.OrderConfirmDO">
		update ex_order_confirm 
		<set>
			<if test="exOrderHeaderId != null">`ex_order_header_id` = #{exOrderHeaderId}, </if>
			<if test="credentials != null">`credentials` = #{credentials}, </if>
			<if test="operationType != null">`operation_type` = #{operationType}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_order_confirm_id = #{exOrderConfirmId}
	</update>
	
	<delete id="remove">
		delete from ex_order_confirm where ex_order_confirm_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_order_confirm where ex_order_confirm_id in 
		<foreach item="exOrderConfirmId" collection="array" open="(" separator="," close=")">
			#{exOrderConfirmId}
		</foreach>
	</delete>

</mapper>