<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ex.dao.OrderServiceDao">

	<select id="get" resultType="com.cloudht.ex.domain.OrderServiceDO">
		select `ex_order_service_id`,`ex_order_header_id`,`specify_ship_company`,`appoint_forwarder_type`,`forwarder_company_name`,`contact`,`phone`,`fax`,`company_address`,`customs_broker_name`,`customs_broker_code`,`entry_notice_file_id`,`encasement_type`,`insurance_finance_service`,`pkgs`,`total_volume`,`total_rough_weight`,`total_net_weight`,`total_amount`,`foreign_exg_cost`,`gmt_create`,`gmt_modified` from ex_order_service where ex_order_service_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ex.domain.OrderServiceDO">
		select `ex_order_service_id`,`ex_order_header_id`,`specify_ship_company`,`appoint_forwarder_type`,`forwarder_company_name`,`contact`,`phone`,`fax`,`company_address`,`customs_broker_name`,`customs_broker_code`,`entry_notice_file_id`,`encasement_type`,`insurance_finance_service`,`pkgs`,`total_volume`,`total_rough_weight`,`total_net_weight`,`total_amount`,`foreign_exg_cost`,`gmt_create`,`gmt_modified` from ex_order_service
        <where>  
		  		  <if test="exOrderServiceId != null and exOrderServiceId != ''"> and ex_order_service_id = #{exOrderServiceId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="specifyShipCompany != null and specifyShipCompany != ''"> and specify_ship_company = #{specifyShipCompany} </if>
		  		  <if test="appointForwarderType != null and appointForwarderType != ''"> and appoint_forwarder_type = #{appointForwarderType} </if>
		  		  <if test="forwarderCompanyName != null and forwarderCompanyName != ''"> and forwarder_company_name = #{forwarderCompanyName} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="fax != null and fax != ''"> and fax = #{fax} </if>
		  		  <if test="companyAddress != null and companyAddress != ''"> and company_address = #{companyAddress} </if>
		  		  <if test="customsBrokerName != null and customsBrokerName != ''"> and customs_broker_name = #{customsBrokerName} </if>
		  		  <if test="customsBrokerCode != null and customsBrokerCode != ''"> and customs_broker_code = #{customsBrokerCode} </if>
		  		  <if test="entryNoticeFileId != null and entryNoticeFileId != ''"> and entry_notice_file_id = #{entryNoticeFileId} </if>
		  		  <if test="encasementType != null and encasementType != ''"> and encasement_type = #{encasementType} </if>
		  		  <if test="insuranceFinanceService != null and insuranceFinanceService != ''"> and insurance_finance_service = #{insuranceFinanceService} </if>
		  		  <if test="pkgs != null and pkgs != ''"> and pkgs = #{pkgs} </if>
		  		  <if test="totalVolume != null and totalVolume != ''"> and total_volume = #{totalVolume} </if>
		  		  <if test="totalRoughWeight != null and totalRoughWeight != ''"> and total_rough_weight = #{totalRoughWeight} </if>
		  		  <if test="totalNetWeight != null and totalNetWeight != ''"> and total_net_weight = #{totalNetWeight} </if>
		  		  <if test="totalAmount != null and totalAmount != ''"> and total_amount = #{totalAmount} </if>
		  		  <if test="foreignExgCost != null and foreignExgCost != ''"> and foreign_exg_cost = #{foreignExgCost} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_order_service_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_order_service
		 <where>  
		  		  <if test="exOrderServiceId != null and exOrderServiceId != ''"> and ex_order_service_id = #{exOrderServiceId} </if>
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="specifyShipCompany != null and specifyShipCompany != ''"> and specify_ship_company = #{specifyShipCompany} </if>
		  		  <if test="appointForwarderType != null and appointForwarderType != ''"> and appoint_forwarder_type = #{appointForwarderType} </if>
		  		  <if test="forwarderCompanyName != null and forwarderCompanyName != ''"> and forwarder_company_name = #{forwarderCompanyName} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="fax != null and fax != ''"> and fax = #{fax} </if>
		  		  <if test="companyAddress != null and companyAddress != ''"> and company_address = #{companyAddress} </if>
		  		  <if test="customsBrokerName != null and customsBrokerName != ''"> and customs_broker_name = #{customsBrokerName} </if>
		  		  <if test="customsBrokerCode != null and customsBrokerCode != ''"> and customs_broker_code = #{customsBrokerCode} </if>
		  		  <if test="entryNoticeFileId != null and entryNoticeFileId != ''"> and entry_notice_file_id = #{entryNoticeFileId} </if>
		  		  <if test="encasementType != null and encasementType != ''"> and encasement_type = #{encasementType} </if>
		  		  <if test="insuranceFinanceService != null and insuranceFinanceService != ''"> and insurance_finance_service = #{insuranceFinanceService} </if>
		  		  <if test="pkgs != null and pkgs != ''"> and pkgs = #{pkgs} </if>
		  		  <if test="totalVolume != null and totalVolume != ''"> and total_volume = #{totalVolume} </if>
		  		  <if test="totalRoughWeight != null and totalRoughWeight != ''"> and total_rough_weight = #{totalRoughWeight} </if>
		  		  <if test="totalNetWeight != null and totalNetWeight != ''"> and total_net_weight = #{totalNetWeight} </if>
		  		  <if test="totalAmount != null and totalAmount != ''"> and total_amount = #{totalAmount} </if>
		  		  <if test="foreignExgCost != null and foreignExgCost != ''"> and foreign_exg_cost = #{foreignExgCost} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ex.domain.OrderServiceDO" useGeneratedKeys="true" keyProperty="exOrderServiceId">
		insert into ex_order_service
		(
			`ex_order_header_id`, 
			`specify_ship_company`, 
			`appoint_forwarder_type`, 
			`forwarder_company_name`, 
			`contact`, 
			`phone`, 
			`fax`, 
			`company_address`, 
			`customs_broker_name`, 
			`customs_broker_code`, 
			`entry_notice_file_id`, 
			`encasement_type`, 
			`insurance_finance_service`, 
			`pkgs`, 
			`total_volume`, 
			`total_rough_weight`, 
			`total_net_weight`, 
			`total_amount`, 
			`foreign_exg_cost`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{exOrderHeaderId}, 
			#{specifyShipCompany}, 
			#{appointForwarderType}, 
			#{forwarderCompanyName}, 
			#{contact}, 
			#{phone}, 
			#{fax}, 
			#{companyAddress}, 
			#{customsBrokerName}, 
			#{customsBrokerCode}, 
			#{entryNoticeFileId}, 
			#{encasementType}, 
			#{insuranceFinanceService}, 
			#{pkgs}, 
			#{totalVolume}, 
			#{totalRoughWeight}, 
			#{totalNetWeight}, 
			#{totalAmount}, 
			#{foreignExgCost}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ex.domain.OrderServiceDO">
		update ex_order_service 
		<set>
			<if test="exOrderHeaderId != null">`ex_order_header_id` = #{exOrderHeaderId}, </if>
			<if test="specifyShipCompany != null">`specify_ship_company` = #{specifyShipCompany}, </if>
			<if test="appointForwarderType != null">`appoint_forwarder_type` = #{appointForwarderType}, </if>
			<if test="forwarderCompanyName != null">`forwarder_company_name` = #{forwarderCompanyName}, </if>
			<if test="contact != null">`contact` = #{contact}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="fax != null">`fax` = #{fax}, </if>
			<if test="companyAddress != null">`company_address` = #{companyAddress}, </if>
			<if test="customsBrokerName != null">`customs_broker_name` = #{customsBrokerName}, </if>
			<if test="customsBrokerCode != null">`customs_broker_code` = #{customsBrokerCode}, </if>
			<if test="entryNoticeFileId != null">`entry_notice_file_id` = #{entryNoticeFileId}, </if>
			<if test="encasementType != null">`encasement_type` = #{encasementType}, </if>
			<if test="insuranceFinanceService != null">`insurance_finance_service` = #{insuranceFinanceService}, </if>
			<if test="pkgs != null">`pkgs` = #{pkgs}, </if>
			<if test="totalVolume != null">`total_volume` = #{totalVolume}, </if>
			<if test="totalRoughWeight != null">`total_rough_weight` = #{totalRoughWeight}, </if>
			<if test="totalNetWeight != null">`total_net_weight` = #{totalNetWeight}, </if>
			<if test="totalAmount != null">`total_amount` = #{totalAmount}, </if>
			<if test="foreignExgCost != null">`foreign_exg_cost` = #{foreignExgCost}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_order_service_id = #{exOrderServiceId}
	</update>
	
	<delete id="remove">
		delete from ex_order_service where ex_order_service_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_order_service where ex_order_service_id in 
		<foreach item="exOrderServiceId" collection="array" open="(" separator="," close=")">
			#{exOrderServiceId}
		</foreach>
	</delete>

</mapper>