<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.ex.dao.OrderHeaderDao">

	<select id="get" resultType="com.cloudht.ex.domain.OrderHeaderDO">
		select `ex_order_header_id`,`ft_client_id`,`export_invoice_no`,`export_contract_no`,`delivery_date`,`consignee`,`contact`,`office_phone`,`phone`,`remark`,`is_settled`,`audit_status`,`process_time`,`is_deleted`,`gmt_create`,`gmt_modified` from ex_order_header where ex_order_header_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.ex.domain.OrderHeaderDO">
		select `ex_order_header_id`,`ft_client_id`,`export_invoice_no`,`export_contract_no`,`delivery_date`,`consignee`,`contact`,`office_phone`,`phone`,`remark`,`is_settled`,`audit_status`,`process_time`,`is_deleted`,`gmt_create`,`gmt_modified` from ex_order_header
        <where>  
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="exportInvoiceNo != null and exportInvoiceNo != ''"> and export_invoice_no = #{exportInvoiceNo} </if>
		  		  <if test="exportContractNo != null and exportContractNo != ''"> and export_contract_no = #{exportContractNo} </if>
		  		  <if test="deliveryDate != null and deliveryDate != ''"> and delivery_date = #{deliveryDate} </if>
		  		  <if test="consignee != null and consignee != ''"> and consignee = #{consignee} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="officePhone != null and officePhone != ''"> and office_phone = #{officePhone} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="isSettled != null and isSettled != ''"> and is_settled = #{isSettled} </if>
		  		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  		  <if test="processTime != null and processTime != ''"> and process_time = #{processTime} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ex_order_header_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ex_order_header
		 <where>  
		  		  <if test="exOrderHeaderId != null and exOrderHeaderId != ''"> and ex_order_header_id = #{exOrderHeaderId} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="exportInvoiceNo != null and exportInvoiceNo != ''"> and export_invoice_no = #{exportInvoiceNo} </if>
		  		  <if test="exportContractNo != null and exportContractNo != ''"> and export_contract_no = #{exportContractNo} </if>
		  		  <if test="deliveryDate != null and deliveryDate != ''"> and delivery_date = #{deliveryDate} </if>
		  		  <if test="consignee != null and consignee != ''"> and consignee = #{consignee} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="officePhone != null and officePhone != ''"> and office_phone = #{officePhone} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="isSettled != null and isSettled != ''"> and is_settled = #{isSettled} </if>
		  		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  		  <if test="processTime != null and processTime != ''"> and process_time = #{processTime} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.ex.domain.OrderHeaderDO" useGeneratedKeys="true" keyProperty="exOrderHeaderId">
		insert into ex_order_header
		(
			`ft_client_id`, 
			`export_invoice_no`, 
			`export_contract_no`, 
			`delivery_date`, 
			`consignee`, 
			`contact`, 
			`office_phone`, 
			`phone`, 
			`remark`, 
			`is_settled`, 
			`audit_status`, 
			`process_time`, 
			`is_deleted`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{ftClientId}, 
			#{exportInvoiceNo}, 
			#{exportContractNo}, 
			#{deliveryDate}, 
			#{consignee}, 
			#{contact}, 
			#{officePhone}, 
			#{phone}, 
			#{remark}, 
			#{isSettled}, 
			#{auditStatus}, 
			#{processTime}, 
			#{isDeleted}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.ex.domain.OrderHeaderDO">
		update ex_order_header 
		<set>
			<if test="ftClientId != null">`ft_client_id` = #{ftClientId}, </if>
			<if test="exportInvoiceNo != null">`export_invoice_no` = #{exportInvoiceNo}, </if>
			<if test="exportContractNo != null">`export_contract_no` = #{exportContractNo}, </if>
			<if test="deliveryDate != null">`delivery_date` = #{deliveryDate}, </if>
			<if test="consignee != null">`consignee` = #{consignee}, </if>
			<if test="contact != null">`contact` = #{contact}, </if>
			<if test="officePhone != null">`office_phone` = #{officePhone}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="isSettled != null">`is_settled` = #{isSettled}, </if>
			<if test="auditStatus != null">`audit_status` = #{auditStatus}, </if>
			<if test="processTime != null">`process_time` = #{processTime}, </if>
			<if test="isDeleted != null">`is_deleted` = #{isDeleted}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where ex_order_header_id = #{exOrderHeaderId}
	</update>
	
	<delete id="remove">
		delete from ex_order_header where ex_order_header_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ex_order_header where ex_order_header_id in 
		<foreach item="exOrderHeaderId" collection="array" open="(" separator="," close=")">
			#{exOrderHeaderId}
		</foreach>
	</delete>

</mapper>