<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.im.dao.ImOrderCommodityDao">

	<select id="get" resultType="com.cloudht.im.domain.ImOrderCommodityDO">
		select `im_order_commodity_id`,`im_order_base_id`,`factory_article_no`,`customs_code`,`chinese_name`,`english_name`,`ship_mark_info`,`specification`,`quantity`,`quantity_unit`,`unit_price`,`amount`,`remark`,`gmt_create`,`gmt_modified` from im_order_commodity where im_order_commodity_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.im.domain.ImOrderCommodityDO">
		select `im_order_commodity_id`,`im_order_base_id`,`factory_article_no`,`customs_code`,`chinese_name`,`english_name`,`ship_mark_info`,`specification`,`quantity`,`quantity_unit`,`unit_price`,`amount`,`remark`,`gmt_create`,`gmt_modified` from im_order_commodity
        <where>  
		  		  <if test="imOrderCommodityId != null and imOrderCommodityId != ''"> and im_order_commodity_id = #{imOrderCommodityId} </if>
		  		  <if test="imOrderBaseId != null and imOrderBaseId != ''"> and im_order_base_id = #{imOrderBaseId} </if>
		  		  <if test="factoryArticleNo != null and factoryArticleNo != ''"> and factory_article_no = #{factoryArticleNo} </if>
		  		  <if test="customsCode != null and customsCode != ''"> and customs_code = #{customsCode} </if>
		  		  <if test="chineseName != null and chineseName != ''"> and chinese_name = #{chineseName} </if>
		  		  <if test="englishName != null and englishName != ''"> and english_name = #{englishName} </if>
		  		  <if test="shipMarkInfo != null and shipMarkInfo != ''"> and ship_mark_info = #{shipMarkInfo} </if>
		  		  <if test="specification != null and specification != ''"> and specification = #{specification} </if>
		  		  <if test="quantity != null and quantity != ''"> and quantity = #{quantity} </if>
		  		  <if test="quantityUnit != null and quantityUnit != ''"> and quantity_unit = #{quantityUnit} </if>
		  		  <if test="unitPrice != null and unitPrice != ''"> and unit_price = #{unitPrice} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by im_order_commodity_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from im_order_commodity
		 <where>  
		  		  <if test="imOrderCommodityId != null and imOrderCommodityId != ''"> and im_order_commodity_id = #{imOrderCommodityId} </if>
		  		  <if test="imOrderBaseId != null and imOrderBaseId != ''"> and im_order_base_id = #{imOrderBaseId} </if>
		  		  <if test="factoryArticleNo != null and factoryArticleNo != ''"> and factory_article_no = #{factoryArticleNo} </if>
		  		  <if test="customsCode != null and customsCode != ''"> and customs_code = #{customsCode} </if>
		  		  <if test="chineseName != null and chineseName != ''"> and chinese_name = #{chineseName} </if>
		  		  <if test="englishName != null and englishName != ''"> and english_name = #{englishName} </if>
		  		  <if test="shipMarkInfo != null and shipMarkInfo != ''"> and ship_mark_info = #{shipMarkInfo} </if>
		  		  <if test="specification != null and specification != ''"> and specification = #{specification} </if>
		  		  <if test="quantity != null and quantity != ''"> and quantity = #{quantity} </if>
		  		  <if test="quantityUnit != null and quantityUnit != ''"> and quantity_unit = #{quantityUnit} </if>
		  		  <if test="unitPrice != null and unitPrice != ''"> and unit_price = #{unitPrice} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.im.domain.ImOrderCommodityDO" useGeneratedKeys="true" keyProperty="imOrderCommodityId">
		insert into im_order_commodity
		(
			`im_order_base_id`, 
			`factory_article_no`, 
			`customs_code`, 
			`chinese_name`, 
			`english_name`, 
			`ship_mark_info`, 
			`specification`, 
			`quantity`, 
			`quantity_unit`, 
			`unit_price`, 
			`amount`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{imOrderBaseId}, 
			#{factoryArticleNo}, 
			#{customsCode}, 
			#{chineseName}, 
			#{englishName}, 
			#{shipMarkInfo}, 
			#{specification}, 
			#{quantity}, 
			#{quantityUnit}, 
			#{unitPrice}, 
			#{amount}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.im.domain.ImOrderCommodityDO">
		update im_order_commodity 
		<set>
			<if test="imOrderBaseId != null">`im_order_base_id` = #{imOrderBaseId}, </if>
			<if test="factoryArticleNo != null">`factory_article_no` = #{factoryArticleNo}, </if>
			<if test="customsCode != null">`customs_code` = #{customsCode}, </if>
			<if test="chineseName != null">`chinese_name` = #{chineseName}, </if>
			<if test="englishName != null">`english_name` = #{englishName}, </if>
			<if test="shipMarkInfo != null">`ship_mark_info` = #{shipMarkInfo}, </if>
			<if test="specification != null">`specification` = #{specification}, </if>
			<if test="quantity != null">`quantity` = #{quantity}, </if>
			<if test="quantityUnit != null">`quantity_unit` = #{quantityUnit}, </if>
			<if test="unitPrice != null">`unit_price` = #{unitPrice}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where im_order_commodity_id = #{imOrderCommodityId}
	</update>
	
	<delete id="remove">
		delete from im_order_commodity where im_order_commodity_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from im_order_commodity where im_order_commodity_id in 
		<foreach item="imOrderCommodityId" collection="array" open="(" separator="," close=")">
			#{imOrderCommodityId}
		</foreach>
	</delete>

</mapper>