<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.im.dao.ImTrackStatusDao">

	<select id="get" resultType="com.cloudht.im.domain.ImTrackStatusDO">
		select `im_track_status_id`,`im_track_base_id`,`link`,`link_status`,`link_date`,`remark`,`gmt_create`,`gmt_modified` from im_track_status where im_track_status_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.im.domain.ImTrackStatusDO">
		select `im_track_status_id`,`im_track_base_id`,`link`,`link_status`,`link_date`,`remark`,`gmt_create`,`gmt_modified` from im_track_status
        <where>  
		  		  <if test="imTrackStatusId != null and imTrackStatusId != ''"> and im_track_status_id = #{imTrackStatusId} </if>
		  		  <if test="imTrackBaseId != null and imTrackBaseId != ''"> and im_track_base_id = #{imTrackBaseId} </if>
		  		  <if test="link != null and link != ''"> and link = #{link} </if>
		  		  <if test="linkStatus != null and linkStatus != ''"> and link_status = #{linkStatus} </if>
		  		  <if test="linkDate != null and linkDate != ''"> and link_date = #{linkDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by im_track_status_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from im_track_status
		 <where>  
		  		  <if test="imTrackStatusId != null and imTrackStatusId != ''"> and im_track_status_id = #{imTrackStatusId} </if>
		  		  <if test="imTrackBaseId != null and imTrackBaseId != ''"> and im_track_base_id = #{imTrackBaseId} </if>
		  		  <if test="link != null and link != ''"> and link = #{link} </if>
		  		  <if test="linkStatus != null and linkStatus != ''"> and link_status = #{linkStatus} </if>
		  		  <if test="linkDate != null and linkDate != ''"> and link_date = #{linkDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.im.domain.ImTrackStatusDO" useGeneratedKeys="true" keyProperty="imTrackStatusId">
		insert into im_track_status
		(
			`im_track_base_id`, 
			`link`, 
			`link_status`, 
			`link_date`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{imTrackBaseId}, 
			#{link}, 
			#{linkStatus}, 
			#{linkDate}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.im.domain.ImTrackStatusDO">
		update im_track_status 
		<set>
			<if test="imTrackBaseId != null">`im_track_base_id` = #{imTrackBaseId}, </if>
			<if test="link != null">`link` = #{link}, </if>
			<if test="linkStatus != null">`link_status` = #{linkStatus}, </if>
			<if test="linkDate != null">`link_date` = #{linkDate}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where im_track_status_id = #{imTrackStatusId}
	</update>
	
	<delete id="remove">
		delete from im_track_status where im_track_status_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from im_track_status where im_track_status_id in 
		<foreach item="imTrackStatusId" collection="array" open="(" separator="," close=")">
			#{imTrackStatusId}
		</foreach>
	</delete>

</mapper>