<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.im.dao.ImTrackBaseDao">

	<select id="get" resultType="com.cloudht.im.domain.ImTrackBaseDO">
		select `im_track_base_id`,`agency_contract_no`,`ft_client_id`,`bill_lading_no`,`ecdi_company_name`,`contact`,`telephone`,`encasement_type`,`twenty_gp_num`,`forty_gp_num`,`forty_hq_num`,`trade_way`,`settlement_way`,`transportation_mode`,`is_wood_package`,`arrival_date`,`import_port`,`customs_declaration_no`,`customs_declaration_amount`,`is_storage`,`storage_date`,`is_cargo_property_transfer`,`is_violation`,`penalty_department`,`penalty_amount`,`penalty_date`,`remark`,`gmt_create`,`gmt_modified` from im_track_base where im_track_base_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.im.domain.ImTrackBaseDO">
		select `im_track_base_id`,`agency_contract_no`,`ft_client_id`,`bill_lading_no`,`ecdi_company_name`,`contact`,`telephone`,`encasement_type`,`twenty_gp_num`,`forty_gp_num`,`forty_hq_num`,`trade_way`,`settlement_way`,`transportation_mode`,`is_wood_package`,`arrival_date`,`import_port`,`customs_declaration_no`,`customs_declaration_amount`,`is_storage`,`storage_date`,`is_cargo_property_transfer`,`is_violation`,`penalty_department`,`penalty_amount`,`penalty_date`,`remark`,`gmt_create`,`gmt_modified` from im_track_base
        <where>  
		  		  <if test="imTrackBaseId != null and imTrackBaseId != ''"> and im_track_base_id = #{imTrackBaseId} </if>
		  		  <if test="agencyContractNo != null and agencyContractNo != ''"> and agency_contract_no = #{agencyContractNo} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="billLadingNo != null and billLadingNo != ''"> and bill_lading_no = #{billLadingNo} </if>
		  		  <if test="ecdiCompanyName != null and ecdiCompanyName != ''"> and ecdi_company_name = #{ecdiCompanyName} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="encasementType != null and encasementType != ''"> and encasement_type = #{encasementType} </if>
		  		  <if test="twentyGpNum != null and twentyGpNum != ''"> and twenty_gp_num = #{twentyGpNum} </if>
		  		  <if test="fortyGpNum != null and fortyGpNum != ''"> and forty_gp_num = #{fortyGpNum} </if>
		  		  <if test="fortyHqNum != null and fortyHqNum != ''"> and forty_hq_num = #{fortyHqNum} </if>
		  		  <if test="tradeWay != null and tradeWay != ''"> and trade_way = #{tradeWay} </if>
		  		  <if test="settlementWay != null and settlementWay != ''"> and settlement_way = #{settlementWay} </if>
		  		  <if test="transportationMode != null and transportationMode != ''"> and transportation_mode = #{transportationMode} </if>
		  		  <if test="isWoodPackage != null and isWoodPackage != ''"> and is_wood_package = #{isWoodPackage} </if>
		  		  <if test="arrivalDate != null and arrivalDate != ''"> and arrival_date = #{arrivalDate} </if>
		  		  <if test="importPort != null and importPort != ''"> and import_port = #{importPort} </if>
		  		  <if test="customsDeclarationNo != null and customsDeclarationNo != ''"> and customs_declaration_no = #{customsDeclarationNo} </if>
		  		  <if test="customsDeclarationAmount != null and customsDeclarationAmount != ''"> and customs_declaration_amount = #{customsDeclarationAmount} </if>
		  		  <if test="isStorage != null and isStorage != ''"> and is_storage = #{isStorage} </if>
		  		  <if test="storageDate != null and storageDate != ''"> and storage_date = #{storageDate} </if>
		  		  <if test="isCargoPropertyTransfer != null and isCargoPropertyTransfer != ''"> and is_cargo_property_transfer = #{isCargoPropertyTransfer} </if>
		  		  <if test="isViolation != null and isViolation != ''"> and is_violation = #{isViolation} </if>
		  		  <if test="penaltyDepartment != null and penaltyDepartment != ''"> and penalty_department = #{penaltyDepartment} </if>
		  		  <if test="penaltyAmount != null and penaltyAmount != ''"> and penalty_amount = #{penaltyAmount} </if>
		  		  <if test="penaltyDate != null and penaltyDate != ''"> and penalty_date = #{penaltyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by im_track_base_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from im_track_base
		 <where>  
		  		  <if test="imTrackBaseId != null and imTrackBaseId != ''"> and im_track_base_id = #{imTrackBaseId} </if>
		  		  <if test="agencyContractNo != null and agencyContractNo != ''"> and agency_contract_no = #{agencyContractNo} </if>
		  		  <if test="ftClientId != null and ftClientId != ''"> and ft_client_id = #{ftClientId} </if>
		  		  <if test="billLadingNo != null and billLadingNo != ''"> and bill_lading_no = #{billLadingNo} </if>
		  		  <if test="ecdiCompanyName != null and ecdiCompanyName != ''"> and ecdi_company_name = #{ecdiCompanyName} </if>
		  		  <if test="contact != null and contact != ''"> and contact = #{contact} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="encasementType != null and encasementType != ''"> and encasement_type = #{encasementType} </if>
		  		  <if test="twentyGpNum != null and twentyGpNum != ''"> and twenty_gp_num = #{twentyGpNum} </if>
		  		  <if test="fortyGpNum != null and fortyGpNum != ''"> and forty_gp_num = #{fortyGpNum} </if>
		  		  <if test="fortyHqNum != null and fortyHqNum != ''"> and forty_hq_num = #{fortyHqNum} </if>
		  		  <if test="tradeWay != null and tradeWay != ''"> and trade_way = #{tradeWay} </if>
		  		  <if test="settlementWay != null and settlementWay != ''"> and settlement_way = #{settlementWay} </if>
		  		  <if test="transportationMode != null and transportationMode != ''"> and transportation_mode = #{transportationMode} </if>
		  		  <if test="isWoodPackage != null and isWoodPackage != ''"> and is_wood_package = #{isWoodPackage} </if>
		  		  <if test="arrivalDate != null and arrivalDate != ''"> and arrival_date = #{arrivalDate} </if>
		  		  <if test="importPort != null and importPort != ''"> and import_port = #{importPort} </if>
		  		  <if test="customsDeclarationNo != null and customsDeclarationNo != ''"> and customs_declaration_no = #{customsDeclarationNo} </if>
		  		  <if test="customsDeclarationAmount != null and customsDeclarationAmount != ''"> and customs_declaration_amount = #{customsDeclarationAmount} </if>
		  		  <if test="isStorage != null and isStorage != ''"> and is_storage = #{isStorage} </if>
		  		  <if test="storageDate != null and storageDate != ''"> and storage_date = #{storageDate} </if>
		  		  <if test="isCargoPropertyTransfer != null and isCargoPropertyTransfer != ''"> and is_cargo_property_transfer = #{isCargoPropertyTransfer} </if>
		  		  <if test="isViolation != null and isViolation != ''"> and is_violation = #{isViolation} </if>
		  		  <if test="penaltyDepartment != null and penaltyDepartment != ''"> and penalty_department = #{penaltyDepartment} </if>
		  		  <if test="penaltyAmount != null and penaltyAmount != ''"> and penalty_amount = #{penaltyAmount} </if>
		  		  <if test="penaltyDate != null and penaltyDate != ''"> and penalty_date = #{penaltyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.im.domain.ImTrackBaseDO" useGeneratedKeys="true" keyProperty="imTrackBaseId">
		insert into im_track_base
		(
			`agency_contract_no`, 
			`ft_client_id`, 
			`bill_lading_no`, 
			`ecdi_company_name`, 
			`contact`, 
			`telephone`, 
			`encasement_type`, 
			`twenty_gp_num`, 
			`forty_gp_num`, 
			`forty_hq_num`, 
			`trade_way`, 
			`settlement_way`, 
			`transportation_mode`, 
			`is_wood_package`, 
			`arrival_date`, 
			`import_port`, 
			`customs_declaration_no`, 
			`customs_declaration_amount`, 
			`is_storage`, 
			`storage_date`, 
			`is_cargo_property_transfer`, 
			`is_violation`, 
			`penalty_department`, 
			`penalty_amount`, 
			`penalty_date`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{agencyContractNo}, 
			#{ftClientId}, 
			#{billLadingNo}, 
			#{ecdiCompanyName}, 
			#{contact}, 
			#{telephone}, 
			#{encasementType}, 
			#{twentyGpNum}, 
			#{fortyGpNum}, 
			#{fortyHqNum}, 
			#{tradeWay}, 
			#{settlementWay}, 
			#{transportationMode}, 
			#{isWoodPackage}, 
			#{arrivalDate}, 
			#{importPort}, 
			#{customsDeclarationNo}, 
			#{customsDeclarationAmount}, 
			#{isStorage}, 
			#{storageDate}, 
			#{isCargoPropertyTransfer}, 
			#{isViolation}, 
			#{penaltyDepartment}, 
			#{penaltyAmount}, 
			#{penaltyDate}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.im.domain.ImTrackBaseDO">
		update im_track_base 
		<set>
			<if test="agencyContractNo != null">`agency_contract_no` = #{agencyContractNo}, </if>
			<if test="ftClientId != null">`ft_client_id` = #{ftClientId}, </if>
			<if test="billLadingNo != null">`bill_lading_no` = #{billLadingNo}, </if>
			<if test="ecdiCompanyName != null">`ecdi_company_name` = #{ecdiCompanyName}, </if>
			<if test="contact != null">`contact` = #{contact}, </if>
			<if test="telephone != null">`telephone` = #{telephone}, </if>
			<if test="encasementType != null">`encasement_type` = #{encasementType}, </if>
			<if test="twentyGpNum != null">`twenty_gp_num` = #{twentyGpNum}, </if>
			<if test="fortyGpNum != null">`forty_gp_num` = #{fortyGpNum}, </if>
			<if test="fortyHqNum != null">`forty_hq_num` = #{fortyHqNum}, </if>
			<if test="tradeWay != null">`trade_way` = #{tradeWay}, </if>
			<if test="settlementWay != null">`settlement_way` = #{settlementWay}, </if>
			<if test="transportationMode != null">`transportation_mode` = #{transportationMode}, </if>
			<if test="isWoodPackage != null">`is_wood_package` = #{isWoodPackage}, </if>
			<if test="arrivalDate != null">`arrival_date` = #{arrivalDate}, </if>
			<if test="importPort != null">`import_port` = #{importPort}, </if>
			<if test="customsDeclarationNo != null">`customs_declaration_no` = #{customsDeclarationNo}, </if>
			<if test="customsDeclarationAmount != null">`customs_declaration_amount` = #{customsDeclarationAmount}, </if>
			<if test="isStorage != null">`is_storage` = #{isStorage}, </if>
			<if test="storageDate != null">`storage_date` = #{storageDate}, </if>
			<if test="isCargoPropertyTransfer != null">`is_cargo_property_transfer` = #{isCargoPropertyTransfer}, </if>
			<if test="isViolation != null">`is_violation` = #{isViolation}, </if>
			<if test="penaltyDepartment != null">`penalty_department` = #{penaltyDepartment}, </if>
			<if test="penaltyAmount != null">`penalty_amount` = #{penaltyAmount}, </if>
			<if test="penaltyDate != null">`penalty_date` = #{penaltyDate}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where im_track_base_id = #{imTrackBaseId}
	</update>
	
	<delete id="remove">
		delete from im_track_base where im_track_base_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from im_track_base where im_track_base_id in 
		<foreach item="imTrackBaseId" collection="array" open="(" separator="," close=")">
			#{imTrackBaseId}
		</foreach>
	</delete>

</mapper>